champ-page-damage-report-search {
  .remove-border-bottom > .item-inner {
    border-bottom: transparent !important;
  }

  .outer-content-container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .header-title > .toolbar-title-ios {
    text-align: left;
    color: #06c;
    font-weight: 800;
    font-size: 22px;
  }

  .align-center {
    text-align: center;
  }

  .iconalign {
    margin-top: 12px;
    padding: 17px;
    border-radius: 5px;
    background: #c8c7cc;
  }

  .search-button {
    font-size: 25px;
    background: transparent;
  }

  .full-width {
    width: 100%;
  }

  .footer .toolbar-background {
    background: #49c2bf !important;
  }

  .footer-button {
    text-align: center;
  }

  .footer .bar-button {
    color: #fff;
  }

  .bill-type-segment {
    border-radius: 6px;
    border: 0.8px solid #c03;
  }

  .bill-type-segment .segment-button {
    color: #545454;
    border-style: none;
    background: #fff;
  }

  .bill-type-segment .segment-button.segment-activated {
    background: #fff;
    color: #c03;
  }

  .container {
    display: flex;
    border-bottom: 0.8px solid #c03;
  }

  .left-awb {
    flex: 0 0 38px;
    text-align: right;
  }

  .left-awb .text-input {
    margin-left: 5px;
    margin-right: 2px;
    width: calc(100% - 1px - 1px);
    text-transform: uppercase;
  }

  .left-awb input::placeholder {
    text-transform: capitalize;
  }

  .grey-text-color {
    color: #727272;
    font-weight: 600;
  }

  .dark-grey-text-color {
    color: #545454;
    font-weight: 600;
  }

  .right-awb {
    flex: 1;
    margin-left: 4px;
  }

  .right-awb .text-input[disabled] {
    opacity: 1;
  }

  .bill-container {
    background: #fff;
    margin: 10px;
    width: inherit;
  }

  .scan-btn-row {
    padding: 0;
  }

  .scan-btn-text {
    font-weight: 800;
  }

  ion-list {
    margin: 0 10px !important;
  }

  .scan-btn {
    width: 100%;
    height: 50px;
    background-color: #c03;
    color: #fff;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    padding-top: 0;
  }

  .scan-btn.activated {
    background-color: #c03;
  }

  .awb-list {
    position: absolute;
  }

  .or-scan-container {
    margin-top: 10px;
  }

  .hwb-button {
    border-left: 1px solid #c03 !important;
    border-bottom-right-radius: 6px !important;
    border-top-right-radius: 6px !important;
  }

  .hwb-button.segment-activated {
    border-bottom-right-radius: 6px !important;
    border-top-right-radius: 6px !important;
  }

  .awb-button {
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
  }

  .awb-button.segment-activated {
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
  }

  .loading-container {
    background: #aaa;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.3;
  }

  .loading-spinner {
    width: 100%;
    position: absolute;
    top: 40%;
  }

  .loading-spinner * {
    stroke: #00f !important;
  }

  .hwbinput input {
    text-transform: uppercase;
  }

  .hwbinput input::placeholder {
    text-transform: capitalize;
  }

  .error-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .error-msg-holder {
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .error-msg-text {
    color: #c03;
    font-size: 14px;
  }
}
