<ion-header id="searchBarHeader">
  <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
  </champ-navigation-bar>
</ion-header>

 <ion-content class="outer-content-container" style="background-image:url('assets/images/app-bg.png')">
  <ion-grid class="bill-container">
    <ion-row>
      <ion-col col-12>
        <ion-label class="grey-text-color">{{ createOrViewReport }}</ion-label> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="dark-grey-text-color">
        {{ 'enterNumber' | translate}}
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col col-4>
      <ion-segment class="bill-type-segment" (ionChange)="awbHwbSegmentControlChanged($event)" [(ngModel)]="awbHwbSegmentControlValue">
        <ion-segment-button value="awb" class="awb-button">
          {{ 'awb' | translate }}
        </ion-segment-button>
        <ion-segment-button value="hwb" class="hwb-button">
          {{ 'hwb' | translate }}
        </ion-segment-button>
      </ion-segment>
    </ion-col>
    <ion-col col-8 *ngIf="awbHwbSegmentControlValue == 'awb'">
      <div class="container" id="containerAWB" #containerAWB>
        <ion-input class="left-awb" 
                   maxlength="3" 
                   placeholder="{{ 'prefix' | translate }}"
                   (keyup)='onAWBPrefixSearchbarTextChanged()'
                   #awbPrefixSearchbar [(ngModel)]="awbPrefixSearchbarText"
                   (ngModelChange)="changedAWBPrefix($event)"
                   type="text">
        </ion-input>
        <ion-input class="right-awb"  
                   maxlength="9" 
                   placeholder="{{ 'serialNumber' | translate }}" 
                   (ionChange)='onAWBSerialSearchbarTextChanged()' 
                   #awbSerialSearchbar [(ngModel)]="awbSerialSearchbarText" 
                   (keyup.backspace)="onAWBSerialSearchbarBackspacePressed();"
                   disabled = "{{isAWBSerialDisabled}}"
                   (ngModelChange)="onAWBSerialChanged($event)"
                   type="text">
        </ion-input>
        <button class="search-button" (click)="onSearchClicked()">
          <ion-icon name="search"></ion-icon>
        </button>
      </div>
    </ion-col>
    <ion-col col-8 *ngIf="awbHwbSegmentControlValue == 'hwb'">
      <div class="container" id="containerHWB">
      <ion-input (ionChange)='onHWBSearchbarTextChanged()' 
                 maxlength="12" placeholder="{{ 'serialNumber' | translate }}" 
                 #hwbSearchBar [(ngModel)]="hwbSearchBarText"
                 (ngModelChange)="onHWBTextChanged($event)"
                 class="hwbinput">
      </ion-input>
      <button class="search-button" (click)="onSearchClicked()">
          <ion-icon name="search"></ion-icon>
        </button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="or-scan-container">
    <ion-col class="dark-grey-text-color">
      {{ 'orScan' | translate}}
    </ion-col>
  </ion-row>
   <ion-row class="scan-btn-row">
    <ion-col col-12>
      <button ion-button (click)="onScanClicked()" class="scan-btn scan-btn-text">
        {{ 'scan' | translate }}
    </button>
    </ion-col>
  </ion-row> 
  <ion-row *ngIf = "invalidawborhwbnumbermessage != null">
    <div class ="error-msg-holder">
      <img  class="error-icon" src="assets/images/error_icon.svg"/>
      <span class="error-msg-text">{{ invalidawborhwbnumbermessage }}</span>
    </div>
  </ion-row> 
  </ion-grid>

  <ion-content *ngIf="awbORHWBGenericListItemViewModels != null"
                class="awb-list" 
                [style.top.px]="rectDataModel.top" [style.left.px]="rectDataModel.left"
                [style.width.px]="rectDataModel.width" [style.height.px]="rectDataModel.height">
      <champ-generic-list-item [genericListItemViewModels]="awbORHWBGenericListItemViewModels"
                             (tapEvent)="tapEvent_On_AWBORHWBGenericListItemViewModels($event)">
      </champ-generic-list-item>
      <div class="loading-container" *ngIf="shouldShowLoadingContainerInAWBorHWBList">
        <ion-spinner name="crescent" class="loading-spinner"></ion-spinner>
      </div>
  </ion-content>
</ion-content>