champ-page-export-acceptance {

  $redbuttoncolor: #c03;

  .bill-container {
    background: #fff;
    margin: 10px;
    width: inherit;
  }

  .grey-text-color {
    color: #727272;
    font-weight: 400;
  }

  .dark-grey-text-color {
    color: #545454;
    font-weight: 400;
  }

  .capitalize {
    text-transform: uppercase;
  }

  .bill-type-segment {
    border-radius: 6px;
    border: 0.8px solid $redbuttoncolor;
  }

  .bill-type-segment .segment-button {
    color: #545454;
    border-style: none;
    background: #fff;
  }

  .bill-type-segment .segment-button.segment-activated {
    background: transparent;
    color: $redbuttoncolor;
  }

  .bup-button {
    border-left: 1px solid $redbuttoncolor !important;
    border-bottom-right-radius: 6px !important;
    border-top-right-radius: 6px !important;
  }

  .bup-button.segment-activated {
    border-bottom-right-radius: 6px !important;
    border-top-right-radius: 6px !important;
  }

  .awb-button {
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
    border-right: 1px solid $redbuttoncolor !important;
  }

  .awb-button.segment-activated {
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
  }

  .container {
    display: flex;
    border-bottom: 0.8px solid #545454;
  }

  .left-awb {
    flex: 0 0 38px;
    text-align: right;
  }

  .left-awb .text-input {
    margin-left: 5px;
    margin-right: 2px;
    width: calc(100% - 1px - 1px);
  }

  .right-awb {
    flex: 1;
    margin-left: 4px;
  }

  .right-awb .text-input[disabled] {
    opacity: 1;
  }

  .hwbinput input,
  .bupinput input {
    text-transform: uppercase;
  }

  .hwbinput input::placeholder,
  .bupinput input::placeholder {
    text-transform: capitalize;
  }

  .or-scan-container {
    margin-top: 10px;
  }

  .scan-btn-row {
    padding: 0 0 15px;
  }

  .scan-btn-text {
    font-weight: 800;
  }

  ion-list {
    margin: 0 10px !important;
  }

  .scan-btn {
    width: 100%;
    height: 50px;
    background-color: $redbuttoncolor;
    color: #fff;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    padding-top: 0;
  }

  .search-button {
    font-size: 25px;
    background: transparent;
  }

  .outer-content-container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .loading-container {
    background: #aaa;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.3;
  }

  .loading-spinner {
    width: 100%;
    position: absolute;
    top: 40%;
  }

  .loading-spinner * {
    stroke: #00f !important;
  }

  .awb-list {
    position: absolute;
  }
}
