<ion-header id="searchBarHeader">
  <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
  </champ-navigation-bar>
</ion-header>

<ion-content class="outer-content-container" style="background-image:url('assets/images/app-bg.png')">
  <ion-grid class="bill-container">
    <ion-row>
      <ion-col col-12>
        <ion-label class="grey-text-color capitalize">{{ 'startanexportacceptance' | translate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="dark-grey-text-color">
        {{ 'enterNumber' | translate}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-segment class="bill-type-segment" (ionChange)="awbHwbSegmentControlChanged($event)" [(ngModel)]="awbHwbSegmentControlValue">
          <ion-segment-button value="awb" class="awb-button">
            {{ 'awb' | translate }}
          </ion-segment-button>
          <ion-segment-button value="hwb" class="hwb-button">
            {{ 'hwb' | translate }}
          </ion-segment-button>
          <ion-segment-button value="bup" class="bup-button">
            {{ 'bup' | translate }}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngIf="awbHwbSegmentControlValue == 'awb'">
        <div class="container" id="containerAWB">
          <ion-input class="left-awb" maxlength="3" placeholder="{{ 'prefix' | translate }}" (ionChange)='onAWBPrefixSearchbarTextChanged()'
            #awbPrefixSearchbar [(ngModel)]="awbPrefixSearchbarText" (ngModelChange)="changedAWBPrefix($event)" type="number">
          </ion-input>
          <ion-input class="right-awb" maxlength="9" placeholder="{{ 'serialNumber' | translate }}" (ionChange)='onAWBSerialSearchbarTextChanged()'
            #awbSerialSearchbar [(ngModel)]="awbSerialSearchbarText" (keyup.backspace)="onAWBSerialSearchbarBackspacePressed();"
            disabled="{{isAWBSerialDisabled}}" type="number">
          </ion-input>
          <button class="search-button" (click)="onSearchClicked()">
            <ion-icon name="search"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col *ngIf="awbHwbSegmentControlValue == 'hwb'">
        <div class="container" id="containerHWB">
          <ion-input (ionChange)='onHWBSearchbarTextChanged()' maxlength="12" placeholder="{{ 'serialNumber' | translate }}" #hwbSearchBar
            [(ngModel)]="hwbSearchBarText" class="hwbinput">
          </ion-input>
          <button class="search-button" (click)="onSearchClicked()">
            <ion-icon name="search"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col *ngIf="awbHwbSegmentControlValue == 'bup'">
        <div class="container" id="containerBUP">
          <ion-input (ionChange)='onBUPSearchbarTextChanged()' maxlength="9" placeholder="{{ 'uldIdentifier' | translate }}" #bupSearchBar
            [(ngModel)]="bupSearchBarText" class="bupinput">
          </ion-input>
          <button class="search-button" (click)="onSearchClicked()">
            <ion-icon name="search"></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="or-scan-container">
      <ion-col class="dark-grey-text-color">
        {{ 'orScan' | translate}}
      </ion-col>
    </ion-row>
    <ion-row class="scan-btn-row">
      <ion-col col-12>
        <button (click)="onScanClicked()" class="scan-btn">
          <span class="scan-btn-text">{{ 'scan' | translate }}</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-content *ngIf="awbORHWBGenericListItemViewModels != null" class="awb-list" [style.top.px]="rectDataModel.top" [style.left.px]="rectDataModel.left"
    [style.width.px]="rectDataModel.width" [style.height.px]="rectDataModel.height">
    <champ-generic-list-item [genericListItemViewModels]="awbORHWBGenericListItemViewModels" (tapEvent)="tapEvent_On_AWBORHWBGenericListItemViewModels($event)">
    </champ-generic-list-item>
    <div class="loading-container" *ngIf="shouldShowLoadingContainerInAWBorHWBList">
      <ion-spinner name="crescent" class="loading-spinner"></ion-spinner>
    </div>
  </ion-content>
</ion-content>