<ion-item *ngFor="let checkBoxViewModel of checkBoxesViewModel.checkBoxViewModels">
  <ion-label>{{checkBoxViewModel.name}}</ion-label>
  <ion-checkbox color="primary" 
                item-right 
                [(ngModel)]="checkBoxViewModel.isSelected" 
                (ngModelChange)="checkBoxTapped(checkBoxViewModel)">
  </ion-checkbox>
</ion-item>