<ion-header *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation">
  <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
  </champ-navigation-bar>
</ion-header>

<ion-content class="outer-shipping-content" style="background-image:url('assets/images/app-bg.png')">
  <div (swipe)="swiped($event)" class="container-for-swipe">
  <p *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation"
     class="title">{{ contentTitle() }}</p>
  <ion-label class="shipping-content-list">
  <ion-label class="flight-label" color="dark" stacked>{{ 'flightDetailTitle' | translate }}</ion-label>
    <ion-row>
     <ion-col col-3>
      <ion-item class="input-container">
        <ion-input class="shipment-input flight-code-input" placeholder="{{ 'flightCodeInput' | translate }}"
                   [(ngModel)]="damageReportsDataModel.transportMeans.carriersDataModel.code"
                   maxlength="2" 
                   type="text"
                   (ngModelChange)="onFlightCodeTextChanged()"
                   (ionFocus)="ionInputFocused()">
        </ion-input>
     </ion-item>
     </ion-col>
     <ion-col col-4>
      <ion-item class="input-container flight-number-container">
        <ion-input class="shipment-input flight-number-input" placeholder="{{ 'flightNumberInput' | translate }}"
                   [(ngModel)]="damageReportsDataModel.transportMeans.transportNumber"
                   maxlength="5"
                   (ngModelChange)="onFlightNumberTextChanged()"
                   (ionFocus)="ionInputFocused()">
        </ion-input>
      </ion-item>
     </ion-col>
     <ion-col col-5>
      <ion-item class="date-container">
        <ion-label class="shipment-input flight-date-input">{{ flightDateText }}</ion-label>
        <ion-icon name="ios-calendar-outline" item-right class="calendar-icon" (click)="showDatePicker()"></ion-icon>
      </ion-item>
     </ion-col>
    </ion-row>

    <ion-item class="shipment-item-first">
      <ion-label class="shipment-label" stacked>{{ 'piecesTitle' | translate }}</ion-label>
      <ion-input class="shipment-input" placeholder="{{ 'piecesInput' | translate }}"
                 [(ngModel)]="damageReportsDataModel.pieces"
                 type="number"
                 (ngModelChange)="onPiecesTextChanged()"
                 (ionFocus)="ionInputFocused()">
      </ion-input>
    </ion-item>
    <ion-label *ngIf="piecesLogicalError != null"
               class="logicalerror">
      {{piecesLogicalError}}
    </ion-label>

    <ion-row>
      <ion-col col-6>
        <ion-item class="shipment-item">
          <ion-label class="shipment-label" stacked>{{ 'weightTitle' | translate }}</ion-label>
          <ion-input class="shipment-input" placeholder="{{ 'weightInput' | translate }}"
                     [(ngModel)]="damageReportsDataModel.weight.amount"
                     type="number"
                     (ngModelChange)="onWeightTextChanged()"
                     (ionFocus)="ionInputFocused()">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item class="shipment-item">
          <ion-label class="shipment-label unit-label" stacked>{{ 'unitTitle' | translate }}</ion-label>
          <ion-select [(ngModel)]="damageReportsDataModel.weight.unit" 
                      placeholder="{{ 'unitInput' | translate }}"
                      class = "weight-unit-select"
                      interface= "popover"
                      disabled="true">
            <ion-option selected>{{ 'kg' | translate }}</ion-option>
            <ion-option>{{ 'lb' | translate }}</ion-option>
          </ion-select>          
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item class="shipment-item">
      <ion-label class="shipment-label" stacked>{{ 'uldTitle' | translate }}</ion-label>
      <ion-input class="shipment-input  uld-input" placeholder="{{ 'uldInput' | translate }}"
                 [(ngModel)]="damageReportsDataModel.uld"
                 maxlength="10"
                 type="text"
                 (ngModelChange)="onUldTextChanged()"
                 (ionFocus)="ionInputFocused()">
      </ion-input>
    </ion-item>
  </ion-label>
  </div>
</ion-content>

<!-- Related to MOB-224, MOB-258 in JIRA
  Q) Why do we have 'toShowFooter' flag ?
  A) The footer is overlapping with the ion-content when keyboard is up. It partially hides
  input fields placed at the end of the content user cannot view what he is typing.
  'toShowFooter' flag is used to hide or show the footer based on whether the keyboard is up or down
-->
<ion-footer *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation"
            [class.show-footer]="toshowFooter"
            [class.hide-footer]="!toshowFooter"
            class="footer">
    <ion-row>
      <ion-col class="footer-button-col">
        <button class="footer-button" ion-button text-center (click)="nextpage()">
           {{ 'next' | translate }}
          <ion-thumbnail class="right-arrow-next">
            <img src="assets/images/nextbutton.svg">
          </ion-thumbnail>
        </button>
      </ion-col>
    </ion-row>
</ion-footer>
