champ-page-shipment-details {
  .outer-shipping-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .shipping-content-list {
    background-color: #fff;
    margin: 15px;
    padding-right: 10px;
    padding-bottom: 30px;
    border-radius: 6px;
  }

  .flight-label {
    padding-top: 10px;
    padding-left: 16px;
    margin-bottom: 0;
    font-size: 18px !important;
    color: #545454;
    font-weight: 500;
  }

  .shipment-item-first {
    margin-top: 10px;
  }

  .shipment-item {
    margin-top: 20px;
  }

  .shipment-label {
    font-size: 18px !important;
    color: #545454 !important;
    font-weight: 500;
  }

  .shipment-input {
    padding: 0 !important;
  }

  .shipment-input > .text-input {
    margin: 13px 0 !important;
  }

  .shipment-input .text-input-md,
  .shipment-input .text-input-ios,
  .shipment-input .text-input-wp {
    width: calc(100% - 0px - 0px);
    font-size: 1em;
  }

  .shipment-button-style {
    float: right;
    padding: 15px;
  }

  .calendar-icon {
    margin-right: 0 !important;
    margin-top: 6px !important;
  }

  .container-for-swipe {
    width: 100%;
    height: 100%;
  }

  .input-container {
    padding-right: 0 !important;
  }

  .input-container .item-inner {
    padding-right: 0 !important;
  }

  .flight-number-container,
  .date-container {
    padding-left: 10px !important;
  }

  .flight-code-input input,
  .flight-number-input input,
  .flight-date-input,
  .weight-unit-input input,
  .uld-input input {
    text-transform: uppercase;
  }

  .flight-code-input input::placeholder,
  .flight-number-input input::placeholder,
  .weight-unit-input input::placeholder,
  .uld-input input::placeholder {
    text-transform: capitalize;
  }

  .weight-unit-select {
    margin: 13px 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .weight-unit-select.select-disabled,
  .unit-label {
    opacity: 1;
  }

  .right-arrow-next {
    width: 24px;
    height: 24px;
    margin-left: 4px;
  }

  .footer-button-col {
    background: #fff;
    text-align: center;
    border: 0.55px solid #c03;
    padding: 0;
  }

  .footer-button {
    text-align: center;
    background: transparent;
    color: #c03;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    width: 100%;
    padding: 0;
  }

  .footer-button.activated {
    color: #c03;
    background: transparent;
  }

  .title {
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    margin-left: 15px;
  }

  .logicalerror {
    font-size: 0.9em;
    color: #f00;
    margin-left: 15px;
  }

  .weight-unit-select .select-icon {
    display: none;
  }

  .show-footer {
    display: block;
  }

  .hide-footer {
    display: none;
  }
}

