<ion-item>
  <p class="title">{{ listPopoverViewModel.title | translate }}</p>
</ion-item>
<champ-generic-list-item [genericListItemViewModels]="listPopoverViewModel.genericListItemsViewModel"
                         (tapEvent)="tapEvent_On_GenericList_ViewModel($event)">
</champ-generic-list-item>
<ion-item *ngIf = "listPopoverViewModel.buttonText != null">
  <button class="bottom-btn" (click)="buttonClicked()">{{ listPopoverViewModel.buttonText | translate }}</button>
</ion-item>
