<ion-header id="navigationBarHeader">
  <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
  </champ-navigation-bar>
</ion-header>


<ion-content class="create-report-content" style="background-image:url('assets/images/app-bg.png')">

  <ion-row>
    <p class="title" col-10>{{ 'createexportacceptancetitle' | translate}}</p>
    <ion-col col-2>
      <button (click)="onScanClicked()" class="scan-btn">
        <img width='38' src="assets/images/scan.svg">
      </button>
    </ion-col>
  </ion-row>

  <!-- <ion-item>
    <ion-item>
      <ion-thumbnail class="left-image-item" item-start>
        <img class="left-image" src="assets/images/shipmentdetails.svg">
     </ion-thumbnail>
    {{ 'shipmentdetails' | translate}}
    <ion-input>kfevki</ion-input>
    </ion-item>
  </ion-item> -->
</ion-content>