champ-page-create-export-acceptance {
  .create-report-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .create-report-content .scroll-content {
    padding: 10px;
  }

  .title {
    color: #fff;
    font-size: 1em;
    font-weight: 800;
  }

  .scan-btn {
    background-color: #c03;
    color: #fff;
    font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
  }

  .left-image-item {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    position: relative;
  }

  .left-image {
    width: 50px !important;
    height: 50px !important;
  }

}
