champ-page-remarks-and-boxes {
  .remarks-label {
    margin-top: 7%;
    font-size: 1em !important;
  }

  .label-md[stacked] {
    font-size: 1.3em;
  }

  .box-label {
    margin-top: 15%;
    font-size: 1em !important;
  }

  .remarks-footer {
    background-color: #15c3c2;
    padding: 3%;
  }

  .remarks-footer-text {
    display: inline-block;
    color: #fff;
    padding-left: 9px;
    font-size: 1.7em;
    height: auto;
    font-weight: bold;
  }

  .save-button {
    border: 1px solid #c03;
    background-color: #fff;
    color: #c03;
    font-size: 20px;
    padding: 10px;
    width: 100%;
 }

  .outer-packing-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .remarks-container {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 1.4em;
  }

  .boxes-container {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 20px;
    font-size: 1.4em;
  }

  .remarks-text-area,
  .boxes-input {
    font-size: 0.85em;
  }

  .container-for-swipe {
    width: 100%;
    height: 100%;
  }

  .save-image-left {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  .footer-button-col {
    background: #fff;
    text-align: center;
    border: 0.55px solid #c03;
    padding: 0;
  }

  .footer-button {
    text-align: center;
    background: transparent;
    color: #c03;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    width: 100%;
    padding: 0;
    text-transform: uppercase;
  }

  .footer-button-col-left {
    background: #fff;
    text-align: center;
    border: 0.55px solid #c03;
    padding: 0;
  }

  .footer-button-col-right {
    background: #fff;
    text-align: center;
    border-top: 0.55px solid #c03;
    border-bottom: 0.55px solid #c03;
    border-right: 0.55px solid #c03;
    padding: 0;
  }

  .footer-button.activated {
    color: #c03;
    background: transparent;
  }

  .title {
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    margin-left: 15px;
  }

  .left-arrow-previous {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  .right-arrow-next {
    width: 24px;
    height: 24px;
    margin-left: 4px;
  }

  .show-footer {
    display: block;
  }

  .hide-footer {
    display: none;
  }
  
  .enabled-text-color {
    color: #c03;
  }

  .disabled-text-color {
    color: #d3d3d3;
  }
}
