<ion-header *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation">
  <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
  </champ-navigation-bar>
</ion-header>

<ion-content class="outer-packing-content" style="background-image:url('assets/images/app-bg.png')">
  <div (swipe)="swiped($event)" class="container-for-swipe">
    <p *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation"
       class="title">{{ contentTitle() }}</p>
    <ion-row>
      <ion-col>
        <ion-item class="remarks-container">
          <ion-label class="remarks-label" color="dark" stacked>{{ 'remarksTitle' | translate }}</ion-label>
          <ion-textarea maxlength="255" 
                        placeholder="{{ 'remarksInput' | translate }}"
                        [(ngModel)]="damageReportsDataModel.remarks"
                        class="remarks-text-area"
                        (ionFocus)="ionInputFocused()">
          </ion-textarea>
        </ion-item>
        <ion-item class="boxes-container">
          <ion-label class="box-label" color="dark" stacked>{{ 'boxesTitle' | translate }}</ion-label>
          <ion-input placeholder="{{ 'boxesInput' | translate }}"
                     [(ngModel)]="damageReportsDataModel.boxes"
                     maxlength="99"
                     class="boxes-input"
                     (ionFocus)="ionInputFocused()">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<!-- Related to MOB-224, MOB-258 in JIRA
  Q) Why do we have 'toShowFooter' flag ?
  A) The footer is overlapping with the ion-content when keyboard is up. It partially hides
  input fields placed at the end of the content user cannot view what he is typing.
  'toShowFooter' flag is used to hide or show the footer based on whether the keyboard is up or down
-->
<ion-footer *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation"
            [class.footer]="toShowEmailAndPrintOptions"
            [class.show-footer]="toshowFooter"
            [class.hide-footer]="!toshowFooter">
    <ion-row *ngIf="!toShowEmailAndPrintOptions">
      <ion-col class="footer-button-col">
        <button class="footer-button"
                ion-button
                text-center
                [disabled]="!toShowEnabledSaveButton"
                (click)="onSaveClicked()"
                [ngClass]="toShowEnabledSaveButton ? 'enabled-text-color':'disabled-text-color'">
          <ion-thumbnail class="save-image-left">
            <img *ngIf="toShowEnabledSaveButton" src="assets/images/save.svg">
            <img *ngIf="!toShowEnabledSaveButton" src="assets/images/save-disable.svg">
          </ion-thumbnail>
            {{ 'save' | translate }}
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="toShowEmailAndPrintOptions">
      <ion-col col-6 class="footer-button-col-left">
        <button class="footer-button" ion-button text-center (click)="onPrintButtonClicked()">
          <ion-thumbnail class="left-arrow-previous">
            <img src="assets/images/print.svg">
          </ion-thumbnail>
          {{ 'print' | translate }}
        </button>
      </ion-col>
      <ion-col col-6 class="footer-button-col-right">
        <button class="footer-button" ion-button text-center (click)="onEmailButtonClicked()">
          {{ 'email' | translate }}
          <ion-thumbnail class="right-arrow-next">
            <img src="assets/images/mail.svg">
          </ion-thumbnail>
        </button>
      </ion-col>
  </ion-row>
</ion-footer>
