<ion-header *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation">
  <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
  </champ-navigation-bar>
</ion-header>

<ion-content class="recuperation-outer-content" style="background-image:url('assets/images/app-bg.png')">
  <div (swipe)="swiped($event)" class="container-for-swipe">
    <p *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation"
       class="title">{{ contentTitle() }}</p>
    <ion-label class="inner-content">
      <ion-list radio-group [(ngModel)]="recuperageRadioButtonsViewModel.uniqueObjectIdOfRadioButtonViewModel">
        <ion-list-header class="recuperarion-header"> {{ 'recuperationTitle' | translate }}</ion-list-header>
        <champ-radio-buttons-item [radioButtonsViewModel]="recuperageRadioButtonsViewModel" (radioButtonViewModelTapEvent)="tapEvent_On_RecuperageRadioButtonsViewModel($event)">
        </champ-radio-buttons-item>
      </ion-list>
    </ion-label>
  </div>
</ion-content>

<ion-footer *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation"
            class="footer">
    <ion-row>
      <ion-col col-6 class="footer-button-col-left">
        <button class="footer-button" ion-button text-center (click)="closePage()">
          <ion-thumbnail class="left-arrow-previous">
            <img src="assets/images/previousbutton.svg">
          </ion-thumbnail>
          {{ 'previous' | translate }}
        </button>
      </ion-col>
      <ion-col col-6 class="footer-button-col-right">
        <button class="footer-button" ion-button text-center (click)="nextPage()">
          {{ 'next' | translate }}
          <ion-thumbnail class="right-arrow-next">
            <img src="assets/images/nextbutton.svg">
          </ion-thumbnail>
        </button>
      </ion-col>
    </ion-row>
</ion-footer>
