champ-page-export-acceptance-reports {
  .add-border-bottom {
    border-bottom: 0.55px solid #c8c7cc;
  }

  .remove-border-bottom > .item-inner {
    border-bottom: transparent !important;
  }

  .report-count {
    font-size: 35px;
    float: left;
    padding-right: 5px;
    font-weight: 500;
    color: #06c;
  }

  .report-label {
    font-size: 14px;
    float: left;
    color: #545454;
  }

  .report-label-margin {
    margin-top: 4px;
  }

  .sort-button {
    color: #000;
    background-color: transparent !important;
  }

  .sort-option-selected {
    text-align: left;
    line-height: 10px;
  }

  .sort-option-selected span {
    font-size: medium;
  }

  .sort-label {
    color: #c03;
    font-weight: 600;
    padding-left: 3px;
    text-transform: capitalize;
  }

  .sort-type-label {
    color: #999;
    font-weight: 400;
    text-transform: capitalize;
  }

  .report-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .report-content .scroll-content {
    padding: 10px;
  }

  .report-list .list-md,
  .report-list .list-ios {
    margin: 0;
  }
}
