<ion-header>
  <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
  </champ-navigation-bar>

  <ion-item class="remove-border-bottom add-border-bottom">
  <p item-start>
    <span class="report-count">{{ reportCount }}</span> <span class="report-label report-label-margin">{{ 'exportacceptancetitle' | translate }}</span>
    <br><span class="report-label">{{ 'reports' | translate }}</span>
  </p>
  <button ion-button icon-only class="sort-button" (click)="presentPopover($event)" item-end>
    <img src="assets/images/sort.svg" width='26'> 
    <p class="sort-option-selected">
      <span class="sort-label">{{ 'sort' | translate }}</span>
      <span class="sort-type-label">{{ sortSelectedItem }}</span>
    </p>
  </button>
</ion-item>
</ion-header>

<ion-content class="report-content" style="background-image:url('assets/images/app-bg.png')">
  <champ-generic-list-item *ngIf="genericListItemViewModels != null"
                           [genericListItemViewModels]="genericListItemViewModels"
                           (tapEvent)="tapEvent_On_GenericListItemComponent($event)"
                           class="report-list">
  </champ-generic-list-item>
</ion-content>

