<ion-header class="header-text">
  <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
  </champ-navigation-bar>

  <ion-item class="remove-border-bottom add-border-bottom">
    <p item-start>
      <span class="report-count">{{ irregularityReportCount }}</span>
      <span class="report-label report-label-margin">{{ 'irregularity' | translate }}</span>
      <br>
      <span class="report-label">{{ 'reports' | translate }}</span>
    </p>
    <button ion-button icon-only class="sort-button" (click)="presentPopover($event)" item-end>
      <img src="assets/images/sort.svg" width='26'>
      <p class="sort-option-selected">
        <span class="sort-label">{{ 'sort' | translate }}</span>
        <span class="sort-type-label">{{ sortSelectedItem }}</span>
      </p>
    </button>
  </ion-item>
</ion-header>
<ion-content class="report-content" style="background-image:url('assets/images/app-bg.png')">
  <ion-list>
    <champ-irregularity-report-list-item *ngFor="let irregularityReportsDataModel of irregularityReportsDataModels()"
                                  [irregularityReportsDataModel]="irregularityReportsDataModel"
                                  (tapEvent)="tapEvent_On_IrregularitiesDataModel($event)"
                                  class="report-content-list">
    </champ-irregularity-report-list-item>
</ion-list>
  <ion-item no-lines class="noreport-content-list align-center" *ngIf="irregularityReportCount == 0">
    <ion-thumbnail>
      <img class="no-report-img" src="assets/images/no_report.svg" />
    </ion-thumbnail>
    <p class="main-text">{{ 'noreportfound' | translate }}</p>
  </ion-item>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <div class="footer-button">
      <ion-buttons>
        <button ion-button text-center (click)="createNewReportButtonClicked()">
          <ion-thumbnail class="create-image-left">
            <img src="assets/images/newreport.svg">
          </ion-thumbnail>
          {{ 'createnewreport' | translate }}
        </button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>