champ-page-irregularity-search-results {
  .add-border-bottom {
    border-bottom: 0.55px solid #c8c7cc;
    }

  .remove-border-bottom > .item-inner {
    border-bottom: transparent !important;
    }

  .footer .toolbar-background {
    background: #fff !important;
    }

  .footer .bar-button {
    color: #c03;
    font-size: 20px;
    }

  .sort-button {
    color: #000;
    background-color: transparent !important;
    }

  .sort-option-selected {
    text-align: left;
    line-height: 10px;
    }

  .sort-option-selected span {
    font-size: medium;
    }

  .report-count {
    font-size: 35px;
    float: left;
    padding-right: 5px;
    font-weight: 500;
    color: #06c;
    }

  .report-label {
    font-size: 14px;
    float: left;
    color: #545454;
    }

  .report-label-margin {
    margin-top: 4px;
    }

  .sort-label {
    color: #c03;
    font-weight: 600;
    padding-left: 3px;
    text-transform: capitalize;
    }

  .sort-type-label {
    color: #999;
    font-weight: 400;
    text-transform: capitalize;
    }

  .sort-option-selected {
    text-align: left;
    line-height: 10px;
    }

  .sort-option-selected span {
    font-size: medium;
    }

  .report-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }

  .report-content-list > ion-item {
    background: transparent;
    }

  .report-content-list ion-label {
    margin: 0;
    margin-top: 10px;
    margin-right: 6px;
    }

  .report-content-list button {
    border-radius: 6px;
    }

  .noreport-content-list {
    border-radius: 3px;
    background: #fff;
    margin: 10px;
    width: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .align-center {
    text-align: center;
    color: #d3d3d3;
  }

  .no-report-img {
    display: inline;
    margin: 15px;
  }

  .main-text {
    font-size: 20px;
  }

  .header-text {
    text-align: center;
      }

  .footer-button-col {
    background: #fff;
    text-align: center;
    border: 0.55px solid #c03;
    padding: 0;
  }

  .footer-button {
    text-align: center;
  }

  .footer-button.activated {
    color: #c03;
    background: transparent;
  }

  .create-image-left {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }
}
