<ion-item>
  <p>{{ filterRadioButtonsPopoverViewModel.title | translate }}</p>
</ion-item>
<ion-list radio-group
          [(ngModel)]="filterRadioButtonsPopoverViewModel.radioButtonsViewModel.uniqueObjectIdOfRadioButtonViewModel">
  <champ-radio-buttons-item [radioButtonsViewModel]="filterRadioButtonsPopoverViewModel.radioButtonsViewModel" 
                            (radioButtonViewModelTapEvent)="tapEvent_On_RadioButton_ViewModel($event)">
  </champ-radio-buttons-item>
</ion-list>
<ion-item *ngIf = "filterRadioButtonsPopoverViewModel.buttonText != null">
  <button class="bottom-btn" (click)="buttonClicked()">{{ filterRadioButtonsPopoverViewModel.buttonText | translate }}</button>
</ion-item>