<ion-header id="searchBarHeader" class="header-text">
    <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
    </champ-navigation-bar>
    <ion-item>
        <ion-input class="found-cargo-input" [(ngModel)]="shcInput" 
        (ionChange)="onSearchSHC()" placeholder="{{ 'searchshcplaceholder' | translate }}"></ion-input>
        <ion-icon item-right name="search"></ion-icon>
    </ion-item>
</ion-header>

<ion-content class="outer-content-container" style="background-image:url('assets/images/app-bg.png')">
    <ion-row>
        <ion-col col-10>
            <ion-label class="found-cargo-label">{{selectshcFor}}</ion-label>
        </ion-col>
        <ion-col col-2>
                <button (click)="onScanClicked()" class="scan-btn">
                        <img src="assets/images/scan.svg">
                </button>
        </ion-col>
    </ion-row>
    <ion-label *ngIf="shcSelectDataModel.specialHandlingCode[0]!=null" class="found-cargo-shc-label">
        <span class="found-cargo-shc-span" *ngFor="let SHCData of shcSelectDataModel.specialHandlingCode[0].shcType;" (click)="onRemoveSHC(SHCData);">
                        <span class="found-cargo-shc-txt">{{ SHCData.code }}</span>
                        <ion-icon name="close" class="found-cargo-shc-txt"></ion-icon>
        </span>

    </ion-label>
    <ion-list style="margin: 10px;" *ngIf="shcInput!=null && shcInput!='' ">
            <ion-item-divider>
                    {{ 'shclisttext' | translate }}
                  </ion-item-divider>
        <ion-item *ngFor="let shcData of shcCheckBoxViewModels; let i = index">
            <ion-label class="found-cargo-list-item-label">{{shcData.name}} - {{shcData.extras.name}}</ion-label>
            <ion-checkbox color="primary" item-right [(ngModel)]="shcData.isSelected" 
            (ngModelChange)="shcCountValidate(shcData)"
            (ionChange)="onSelectedSHC(shcData,$event)"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
        <ion-row>
                <ion-col class="footer-button-col">
                        <button class="footer-button" ion-button text-center [disabled]="!toShowEnabledSaveButton" (click)="onSaveClicked()">
                      <ion-thumbnail class="save-image-left">
                        <img *ngIf="toShowEnabledSaveButton" src="assets/images/save.svg">
                        <img *ngIf="!toShowEnabledSaveButton" src="assets/images/save-disable.svg">
                      </ion-thumbnail>
                        {{ 'save' | translate }}
                    </button>
                </ion-col>
        </ion-row>
</ion-footer>