champ-page-select-shc {
  .outer-content-container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }

  .label-md {
    margin: 0;
    }

  .searchbar-md {
    padding: 0;
    }

  .found-cargo-label {
    font-size: 18px !important;
    color: #fff !important;
    font-weight: 800;
    margin-top: 5px;
    margin-left: 10px;

      }

  .found-cargo-content {
    margin: 10px;
    border-radius: 6px;
    }

  .scan-btn {
    background-color: #c03;
    color: #fff;
    font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    width: 35px;
    height: 35px;
    padding: 3px;
    }

  .found-cargo-shc-label {
    overflow: initial;
    margin: 0;
    white-space: normal;
    margin: 10px;
    }

  .found-cargo-shc-span {
    background-color: #dde9f2;
    margin-right: 5px;
    border-radius: 5px;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 10px;
    }

  .found-cargo-shc-bg {
    background-color: #dde9f2;
    margin-right: 5px;
    border-radius: 5px;
    white-space: normal;
    }

  .found-cargo-shc-txt {
    font-size: 1.2em;
    color: #545454;
    padding-right: 5px;
    }

  .footer-button-col {
    background: #fff;
    text-align: center;
    border: 0.55px solid #c03;
    padding: 0;
    }

  .footer-button {
    text-align: center;
    background: transparent;
    color: #c03;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    width: 100%;
    padding: 0;
    text-transform: uppercase;
    }

  .footer-button.activated {
    color: #c03;
    background: transparent;
    }

  .save-image-left {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    }

  .header-text {
    text-align: center;
      }

  .found-cargo-input input {
    text-transform: uppercase;
      }

  .found-cargo-list-item-label {
    font-weight: 700;
    color: #545454;
    font-size: 1.5rem !important;
  }
}
