champ-page-delivery-and-transfers {
  .delivery-transfer-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .delivery-transfer-content-list {
    background-color: #fff;
    margin: 10px;
    border-radius: 6px;
    padding-bottom: 30px;
  }

  .label-text {
    padding: 16px;
    font-weight: bold;
    color: #727272;
    font-weight: 600;
  }

  .pickup-id-input {
    margin-left: 11px;
    border-bottom: 0.8px solid #545454;
    margin-right: 15px;
  }

  .delivery-transfer-text {
    color: #545454;
    font-weight: 600;
    padding-left: 16px;
  }

  .search-icon {
    color: #8e8e8e;
    font-size: 2em;
  }

  .scan-btn {
    width: 100%;
    height: 50px;
    background-color: #c03;
    color: #fff;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    padding-top: 0;
  }

  .scan-btn.activated {
    background-color: #c03;
  }

  .scan-btn-text {
    font-weight: 800;
  }

  .scan-btn-row {
    padding: 0 5px;
  }

  .delivery-transfer-error {
    text-align: center;
    padding-top: 10px;
  }

  .delivery-transfer-error-text {
    display: inline-block;
  }

  .delivery-transfer-error-text-color {
    color: #c33;
    font-weight: 500;
    font-size: 16px;
  }

  .delivery-transfer-commit-text-color {
    color: #393;
    font-weight: 500;
    font-size: 16px;
  }

  .delivery-transfer-proceed-button {
    text-align: center;
    background: transparent;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    width: 100%;
    padding: 0;
}

  .delivery-transfer-scan-btn {
    display: unset !important;
    margin: 0 !important;
}

  .scan-btn.activated {
    background-color: #c03;
}

}
