<ion-header>
  <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
  </champ-navigation-bar>
</ion-header>

<ion-content class="delivery-transfer-content" style="background-image:url('assets/images/app-bg.png')">
    <ion-label class="delivery-transfer-content-list">
        <ion-label text-uppercase class="label-text" *ngIf="!isAirlineTransfer">{{ 'processdeliverylabel' | translate }}</ion-label>
        <ion-label text-capitalize class="delivery-transfer-text">{{ receiptlabel}}</ion-label>
        <ion-row class="pickup-id-input">
            <ion-col col-10>
                <ion-input type="tel" text-capitalize placeholder="{{ 'manifestlabel' | translate }}" [(ngModel)]="receiptManifestText" maxlength="8"></ion-input>
            </ion-col>
            <ion-col col-2>
                            <ion-thumbnail (click)="onSearchClicked();">
                              <img src="assets/images/proceedpickup.svg" height="30" width="30">
                             </ion-thumbnail>
               <!-- <ion-icon name="search" class="search-icon" (click)="onSearchClicked()"></ion-icon>-->
            </ion-col>
        </ion-row>
        <ion-label class="delivery-transfer-text">{{ 'scanreceipt' | translate }}</ion-label>
        <ion-row class="scan-btn-row">
                <button ion-button (click)="onScanClicked()" class="scan-btn scan-btn-text">
                        {{ 'scan' | translate }}
                    </button>
        </ion-row>
               <!-- <ion-buttons class="delivery-transfer-scan-btn">
                        <button ion-button class="scan-btn" (click)="onScanClicked()">
                            <span class="scan-btn-text">{{ 'scan' | translate }}</span>
                        </button>
                </ion-buttons> -->
    
        <ion-label class="delivery-transfer-error" *ngIf="noRecord">
          <ion-icon name="alert" class="delivery-transfer-error-text-color"></ion-icon>
          <span class="delivery-transfer-error-text delivery-transfer-error-text-color">{{ 'noRecords' | translate }}</span>
        </ion-label>

        <ion-label class="delivery-transfer-error" *ngIf="driverInfo">
            <ion-icon name="ios-checkmark-circle" class="delivery-transfer-commit-text-color"></ion-icon>
            <span class="delivery-transfer-error-text delivery-transfer-commit-text-color">{{ 'recordCommit' | translate }}</span>
        </ion-label>
    </ion-label>
</ion-content>