<ion-item class="remove-border-bottom" detail-none>
    <button ion-item (click)="onTap()" detail-push>
      <p class="time-label">{{ dateToBeShown() }} {{ timeToBeShown() }} {{ reportingLocationToBeShown() }}</p>
      <!--<p class="time-label">{{ dateToBeShown() }} {{ timeToBeShown() }}</p>-->
      <p style="color:#aaa">{{ 'reportedby' | translate }} {{ createdByToBeShown() }}</p>
      <!--<p style="color:#aaa">{{ 'reportedby' | translate }}</p>-->
      <p class="pieces-label">{{piecesToBeShown()}}&nbsp;&nbsp;{{weightToBeShown()}}&nbsp;&nbsp;{{irregularityDetailsToBeShown()}}</p>
    </button>
  </ion-item>