champ-irregularity-report-list-item {
  .remove-border-bottom > .item-inner {
    border-bottom: transparent !important;
    }

  .time-label {
    font-weight: 800;
    font-size: 1.1em;
    color: #545454;
    text-transform: uppercase;
    }

  .pieces-label {
    color: #545454;
    margin-bottom: 5px !important;
    white-space: pre-wrap;
    }

  .item-md[detail-push] .item-inner,
  .item-ios[detail-push] .item-inner,
  .item-wp[detail-push] .item-inner {
    background-image: none;
    background-size: 20px 20px;
    }
  }
