<ion-header>
    <champ-navigation-bar #navigationBarComponent 
    [navigationBarViewModel]="navigationBarViewModel"
    (backButtonTapEvent)= "backButtonClicked()">
    </champ-navigation-bar>
    <ion-item class="remove-border-bottom add-border-bottom">
        <p item-start>
          <span class="receipt-count">0{{pickupReferencesDataModel.deliveryReceipt.length}}</span> <span class="receipt-label receipt-label-margin">{{ 'records' | translate }}</span>
          <br><span class="receipt-label">{{ 'found' | translate }}</span>
        </p>
    </ion-item>
</ion-header>

<ion-content class="receipt-list-content" style="background-image:url('assets/images/app-bg.png')">
    <ion-label class="receipt-content-list" *ngFor="let deliveryReceiptDataModel of pickupReferencesDataModel.deliveryReceipt">
        <ion-item no-lines (click)="nextPage(deliveryReceiptDataModel);">
            <h2>{{deliveryReceiptDataModel.pickupType}}</h2>
             <p *ngIf="deliveryReceiptDataModel.pickupDriverInfo!= null && deliveryReceiptDataModel.pickupDriverInfo.pickupDriver != null" class="receipt-list-commit-text"> {{ 'recordCommit' | translate }}</p> 
            <button *ngIf="deliveryReceiptDataModel.pickupDriverInfo== null || deliveryReceiptDataModel.pickupDriverInfo.pickupDriver == null" ion-button clear item-end class="receipt-list-arrow"> > </button>
        </ion-item>
    </ion-label>
</ion-content>