champ-page-pickup-types-list {
  .add-border-bottom {
    border-bottom: 0.55px solid #c8c7cc;
  }

  .remove-border-bottom > .item-inner {
    border-bottom: transparent !important;
  }

  .receipt-count {
    font-size: 35px;
    float: left;
    padding-right: 5px;
    font-weight: 500;
    color: #06c;
  }

  .receipt-label {
    font-size: 14px;
    float: left;
    color: #545454;
  }

  .receipt-label-margin {
    margin-top: 4px;
  }

  .receipt-list-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .receipt-content-list {
    background-color: #fff;
    margin: 10px 10px 0;
    border-radius: 4px;
  }

  .receipt-list-arrow {
    color: #f00;
  }

  .item-md .item-button {
    font-size: 1.3em;
    padding: 0;
  }

  .receipt-list-commit-text {
    color: #c33;
  }

  .back-button.show-back-button {
    display: none;
  }
}
