<ion-item *ngFor="let radioButtonViewModel of radioButtonsViewModel.radioButtonViewModels">
  <ion-thumbnail *ngIf="radioButtonViewModel.thumbnailBadgeImage" class="radiobuttonicon" item-start>
    <img src={{radioButtonViewModel.thumbnailBadgeImage}}>
  </ion-thumbnail>
  <ion-label>
    {{radioButtonViewModel.name}}
    <p *ngIf="radioButtonViewModel.subText"> {{radioButtonViewModel.subText}} </p>
  </ion-label>
  <ion-radio color="primary" value="{{radioButtonViewModel.getUniqueObjectId()}}" (ionSelect)="radioButtonTapped(radioButtonViewModel)">
  </ion-radio>
</ion-item>