champ-page-create-irregularity {
  .create-irregularity-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }

  .irregularity-text {
    margin: 5px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 10px;
  }

  .irregularity-content-list {
    background-color: #fff;
    margin: 10px;
    border-radius: 6px;
    padding-bottom: 30px;
  }

  .thumbnail-img {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    position: relative;
  }

  .irregularity-details-nav {
    margin-top: 15px;
    border-radius: 5px;
    border-right: 0.55px solid #c8c7cc;
    border-left: 0.55px solid #c8c7cc;
  }

  .irregularity-item {
    margin-top: 10px;
  }

  .irregularity-label {
    font-size: 18px !important;
    color: #545454 !important;
    font-weight: 500;
  }

  .irregularity-input {
    padding: 0 !important;
    color: #000;
  }

  .irregularity-input-on-error {
    padding: 0 !important;
    color: #f00;
  }

  .weight-unit-select {
    margin: 8px 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .weight-unit-select.select-disabled,
  .unit-label {
    opacity: 1;
  }

  .irregularity-content-code-list {
    background-color: #fff;
    margin: 10px !important;
    border-radius: 4px;
  }

  .item-md ion-thumbnail img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

  .item-md ion-thumbnail {
    min-width: 40px;
    min-height: 40px;
}

  .irregularity-arrow {
    color: #c33;
    font-size: 2em;
  }

  .irregularity-arrow {
    width: 30px !important;
    margin-left: 10px !important;
  }

  .footer-button-col {
    background: #fff;
    text-align: center;
    border: 0.55px solid #c03;
    padding: 0;
    }

  .footer-button {
    text-align: center;
    background: transparent;
    color: #c03;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    width: 100%;
    padding: 0;
    text-transform: uppercase;
    }

  .mandatory-star-img {
    width: 10px;
    height: 10px;
    margin-bottom: 5px;
  }

  .enable-text-color {
    color: #c03;
  }

  .disable-text-color {
    color: #d3d3d3;
  }

  .footer-button.activated {
    color: #c03;
    background: transparent;
    }

  .save-image-left {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    }

  .irregularity-code-title-txt {
    color: #545454;
    padding-top: 10px;
    font-weight: 500;
}

  .irregularity-code-txt {
    color: #727272;
    padding: 0 !important;
    }

  .irregularity-content-label {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    }

  .irregularity-error-label {
    color: #f00;
    font-weight: 500;
    padding-left: 15px;
    }
  }


