<ng-template #irregularityPiecesDetails>
  <ion-label class="irregularity-content-list">
    <ion-item class="irregularity-item">
      <ion-label class="irregularity-label" stacked>{{ 'quantitypieces' | translate }}<span>
        <img class="mandatory-star-img" src="assets/images/mandatorystar.svg">
    </span></ion-label>
      <ion-input [ngClass]="toShowAWBPiecesError ? 'irregularity-input-on-error' : 'irregularity-input'" 
      [(ngModel)]="irregularitiesDataModel.pieces" 
      placeholder="{{ 'pickuppieces' | translate }}" 
      type="number"
      (ionChange)='onIrregularityPiecesValueChanged()'>
     </ion-input>
    </ion-item>
    <ion-label *ngIf="toShowAWBPiecesError" class="irregularity-error-label" stacked item-end>{{ 'irregularitypieceserror' | translate }}</ion-label>
    <ion-row>
      <ion-col col-6>
        <ion-item class="irregularity-item">
          <ion-label class="irregularity-label" stacked>{{ 'weightTitle' | translate }}</ion-label>
          <ion-input class="irregularity-input" [(ngModel)]="irregularitiesDataModel.weight.amount" placeholder="{{ 'weightInput' | translate }}"
            type="number">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item class="irregularity-item">
          <ion-label class="irregularity-label unit-label" stacked>{{ 'unitTitle' | translate }}</ion-label>
          <ion-label class="irregularity-label" stacked>{{ 'unitInput' | translate }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-label>
</ng-template>

<ng-template #irregularitySelectCodeMobile>
  <ion-label class="irregularity-content-code-list">
    <ion-item  (click)="onSelectIrregularityDetails();">
      <ion-thumbnail item-start><img src="assets/images/damagereport.svg"></ion-thumbnail>
      <ion-label class="irregularity-content-label">
        <h2 class="irregularity-code-title-txt">{{'irregularitydetailscode' | translate }}<span>
          <img class="mandatory-star-img" src="assets/images/mandatorystar.svg">
      </span></h2>
        <p *ngIf="irregularitiesDataModel.irregularityDetails.code == null">{{ 'codedescription' | translate }}</p>
        <p *ngIf="irregularitiesDataModel.irregularityDetails.code != null" >
          {{ irregularitiesDataModel.irregularityDetails.code}} {{irregularitiesDataModel.irregularityDetails.name}}</p>
      </ion-label>
      <ion-thumbnail item-end>
        <img src="assets/images/proceedpickup.svg" class="irregularity-arrow">
      </ion-thumbnail>
    </ion-item>
  </ion-label>
</ng-template>

<ng-template #mobileContentPane>
  <ng-container *ngTemplateOutlet="irregularityPiecesDetails"></ng-container>
  <ng-container *ngTemplateOutlet="irregularitySelectCodeMobile"></ng-container>
</ng-template>

<ng-template #splitPaneMasterComponent>
  <ng-container *ngTemplateOutlet="irregularityPiecesDetails"></ng-container>
</ng-template>

<ng-template #splitPaneDetailComponent>
  <ion-nav #splitPaneDetailComponentNav class="irregularity-details-nav"></ion-nav>
</ng-template>

<ion-header id="navigationBarHeader">
  <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
  </champ-navigation-bar>
</ion-header>
<ion-content class="create-irregularity-content" style="background-image:url('assets/images/app-bg.png')">
  <ion-label class="irregularity-text" id="irregularityLabel">
    {{'createirregularitytext' | translate}}
  </ion-label>
  <div *ngIf="!toShowSplitPaneInTabletLandScapeOrientation">
    <ng-container *ngTemplateOutlet="mobileContentPane"></ng-container>
  </div>
  <ion-grid *ngIf="toShowSplitPaneInTabletLandScapeOrientation" style="height: 100%">
    <ion-row style="height: 98%">
      <ion-col col-5>
        <ng-container *ngTemplateOutlet="splitPaneMasterComponent"></ng-container>
      </ion-col>
      <ion-col>
        <ng-container *ngTemplateOutlet="splitPaneDetailComponent"></ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="footer-button-col">
      <button class="footer-button" [ngClass]="onIrregularityCodeChanged() ? 'enable-text-color':'disable-text-color'" ion-button text-center [disabled]="!onIrregularityCodeChanged()" (click)="onSaveClicked()">
        <ion-thumbnail class="save-image-left">
          <img *ngIf="onIrregularityCodeChanged()" src="assets/images/save.svg">
          <img *ngIf="!onIrregularityCodeChanged()" src="assets/images/save-disable.svg">
        </ion-thumbnail>
        {{ 'save' | translate }}
      </button>
    </ion-col>
  </ion-row>
</ion-footer>