<ion-header>
        <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
        </champ-navigation-bar>
</ion-header>

<ion-content class="receipt-number-list-content" style="background-image:url('assets/images/app-bg.png')">
        <p class="title">{{contentTitle() }}</p>
                <ion-row>
                <ion-col col-10>
                       <ion-segment class="receipt-type-segment" [(ngModel)]="pickup" (ionChange)="onViewChanged()">
                                <ion-segment-button text-capitalize value="location" class="location-segment">{{ 'location' | translate }} ({{_locationCount}})</ion-segment-button>
                                <ion-segment-button text-capitalize value="awb" class="awb-segment">{{ 'awbView' | translate }} ({{_airwaybillCount}})</ion-segment-button>
                                </ion-segment>
                </ion-col>
                <ion-col col-2>
                        <button (click)="onScanClicked()" class="scan-btn">
                                <img src="assets/images/scan.svg">
                        </button>
                </ion-col>
        </ion-row>
        <ion-row>
                <ion-col col-4 *ngIf="isShowable()">
       <div [ngSwitch]="pickup">
                <div *ngSwitchCase="'awb'">
                        <ion-item no-lines class="receipt-select-all view-details-header">
                                <ion-label>
                                <span class="receipt-number-select-all receipt-label-left">{{_awbTotalPieces}} {{ 'deliveryPieces' | translate }}</span>
                                </ion-label>
                        </ion-item>
                                <ion-label class="view-list-contents">
                                <ion-item no-lines class="view-contents" *ngFor="let airwaybillDataModel of awbViewModel | champKeys">
                                        <ion-label (click)="onSortRequest('awbView',airwaybillDataModel.key)"> 
                                                <p class="listview-header">{{airwaybillDataModel.key}}</p>
                                                <p class="receipt-number-pieces receipt-label-left">{{ 'stored' | translate }}: <span class="pieces-count"> {{airwaybillDataModel.value.storedPieces}}  </span></p> 
                                                <p class="receipt-number-pieces receipt-label-right">{{ 'collected' | translate }}: <span class="pieces-count"> {{airwaybillDataModel.value.collectedPieces}} </span></p>
                                        </ion-label>
                                        <ion-icon name="arrow-forward" item-end></ion-icon>
                                </ion-item>
                        </ion-label>
                </div>

                <div *ngSwitchCase="'location'">
                         <ion-item no-lines class="receipt-select-all view-details-header">
                                        <ion-label>
                                        <p class="receipt-number-select-all receipt-label-left">{{_locationTotalPieces}}  {{ 'deliveryPieces' | translate }}</p>
                                        </ion-label>
                                       </ion-item>
                        <ion-label class="view-list-contents">
                        <ion-item no-lines class="view-contents"  *ngFor="let locations of locationViewModel | champKeys">

                                <ion-label (click)="onSortRequest('locationView',locations.key)"> 
                                        <p class="listview-header">{{locations.key}}</p>
                                        <p class="receipt-number-pieces receipt-label-left">{{ 'stored' | translate }}: <span class="pieces-count"> {{locations.value.storedPieces}} </span></p> 
                                        <p class="receipt-number-pieces receipt-label-right">{{ 'collected' | translate }}:<span class="pieces-count"> {{locations.value.collectedPieces}} </span></p>
                                </ion-label>
                                <ion-icon name="ios-arrow-forward" item-end></ion-icon>
                        </ion-item>
                </ion-label>
               </div>
        </div>      </ion-col>
                <ion-col [ngClass]="isShowable() ? 'col-top-set' : 'col-top-no-set'">
       <div [ngSwitch]="pickup">
                <div *ngSwitchCase="'awb'">
                        <ion-item no-lines class="receipt-select-all" *ngIf="!isShowable()">
                                <ion-label>
                                <span class="receipt-number-select-all receipt-label-left">{{_awbTotalPieces}} {{ 'deliveryPieces' | translate }}</span>
                                <!-- <span class="receipt-number-select-all receipt-label-right">{{ 'selectAll' | translate }}</span> -->
                                </ion-label>
                                <!-- <ion-checkbox color="primary" item-right></ion-checkbox> -->
                                </ion-item>
                        <ion-label class="receipt-number-content-list" *ngFor="let airwaybillDataModel of awbViewModel | champKeys">
                                <ion-item>
                                        <ion-label> 
                                                <p class="listview-header">{{airwaybillDataModel.key}}</p>
                                                <p class="receipt-number-pieces receipt-label-left">{{ 'stored' | translate }}: <span class="pieces-count"> {{airwaybillDataModel.value.storedPieces}}  </span></p> 
                                                <p class="receipt-number-pieces receipt-label-right">{{ 'collected' | translate }}: <span class="pieces-count"> {{airwaybillDataModel.value.collectedPieces}} </span></p>
                                        </ion-label>
                                         <ion-checkbox class="header-checkbox-align" color="primary" item-right [(ngModel)]="airwaybillDataModel.value.isChecked" 
                                                 (ionChange)="pickup_headerCheck(airwaybillDataModel.value,$event)"></ion-checkbox>
                                </ion-item>
                                <ion-item no-lines class="view-contents" *ngFor="let airwaybillData of airwaybillDataModel.value.pickUpViewModel">
                                        <ion-label>
                                        <p class="listview-sub-header receipt-label-left">{{airwaybillData.location}}</p>
                                        <p class="receipt-number-pieces receipt-label-right">{{airwaybillData.deliverypieces}} {{ 'pickuppieces' | translate }}</p>
                                        </ion-label>
                                        <ion-checkbox color="primary" item-right [(ngModel)]="airwaybillData.isChecked" (ionChange)="pickup_itemCheck(airwaybillDataModel.value,airwaybillData)"></ion-checkbox> 
                                </ion-item> 
                        </ion-label>
                </div>

                <div *ngSwitchCase="'location'">
                         <ion-item no-lines class="receipt-select-all" *ngIf="!isShowable()">
                           <ion-label>
                              <p class="receipt-number-select-all receipt-label-left">{{_locationTotalPieces}} {{ 'deliveryPieces' | translate }}</p>
                              <!-- <p class="receipt-number-select-all receipt-label-right">{{ 'selectAll' | translate }}</p> -->
                           </ion-label>
                           <!-- <ion-checkbox color="primary" item-right></ion-checkbox> -->
                        </ion-item>
                        <ion-label class="receipt-number-content-list" *ngFor="let locations of locationViewModel | champKeys">
                                <ion-item>
                                <ion-label> 
                                        <p class="listview-header">{{locations.key}}</p>
                                        <p class="receipt-number-pieces receipt-label-left">{{ 'stored' | translate }}: <span class="pieces-count"> {{locations.value.storedPieces}} </span></p> 
                                        <p class="receipt-number-pieces receipt-label-right">{{ 'collected' | translate }}:<span class="pieces-count"> {{locations.value.collectedPieces}} </span></p>
                                </ion-label>
                                <ion-checkbox class="header-checkbox-align" color="primary" item-right [(ngModel)]="locations.value.isChecked" (ionChange)="pickup_headerCheck(locations.value,$event)"></ion-checkbox>
                                </ion-item>
                                <ion-item no-lines class="view-contents" *ngFor="let location of locations.value.pickUpViewModel">
                                        <ion-label>
                                        <p class="listview-sub-header receipt-label-left">{{location.airwaybillno}}</p>
                                        <p class="receipt-number-pieces receipt-label-right">{{location.deliverypieces}} {{ 'pickuppieces' | translate }}</p>
                                        </ion-label>
                                        <ion-checkbox color="primary" item-right [(ngModel)]="location.isChecked" (ionChange)="pickup_itemCheck(locations.value,location)"></ion-checkbox>
                                </ion-item>
                        </ion-label>
               </div>
        </div>      
</ion-col>
</ion-row>
</ion-content>

<ion-footer class="receipt-footer">
                <ion-row *ngIf="_proceedDisble" style="border: 1px solid #c03;">
                        <ion-col style="padding: 0px;">
                                <button class="footer-button-disable" ion-button text-center>
                                        <ion-thumbnail class="receipt-footer-icon">
                                        <img src="assets/images/proceed-disable.svg">
                                        </ion-thumbnail>
                                        <span text-uppercase>{{ 'proceed' | translate }}</span>
                                </button>
                        </ion-col>
                </ion-row>
                <ion-row *ngIf="_proceedEnable">
                        <ion-col col-6 class="receipt-footer-footer-left">
                             <button style="color:#CC0033" class="footer-button" ion-button text-center (click)="onReset();">
                                    <ion-thumbnail class="receipt-footer-icon">
                                      <img src="assets/images/undo.svg">
                                    </ion-thumbnail>
                                    <span text-uppercase>{{ 'reset' | translate }}</span>
                             </button>
                        </ion-col>
                        <ion-col col-6 class="receipt-footer-footer-left">
                                <button *ngIf="_selectAll" style="color:#CC0033" class="footer-button" ion-button text-center (click)="onProceed();">
                                    <ion-thumbnail class="receipt-footer-icon">
                                      <img src="assets/images/proceed-enable.svg">
                                     </ion-thumbnail>
                                 <span text-uppercase>{{ 'proceed' | translate }}</span>
                                </button>

                                <button *ngIf="!_selectAll" style="color:#D3D3D3" class="footer-button" ion-button text-center>
                                        <ion-thumbnail class="receipt-footer-icon">
                                        <img src="assets/images/proceed-disable.svg">
                                        </ion-thumbnail>
                                        <span text-uppercase>{{ 'proceed' | translate }}</span>
                                </button>
                        </ion-col>
                </ion-row>
 
</ion-footer>