champ-page-pickup-view-list {
  .receipt-number-list-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

  .receipt-type-segment {
    background: #fff;
    border-radius: 6px;
    height: 40px;
  }

  .receipt-type-segment .segment-button {
    background: #fff;
    border-style: none;
    border: 0.8px solid #c03;
    height: inherit;
    color: #545454;
    font-size: 16px;
    font-weight: 600;
  }

  .header-checkbox-align {
    margin-bottom: 37px !important;
    margin-top: 11px !important;
  }

  .view-contents .item-inner {
    margin: 0 0 0 10px;
  }

  .receipt-type-segment .segment-button.segment-activated {
    color: #c03;
    background-color: #eaf2f4;

  }

  .scan-btn {
    background-color: #c03;
    color: #fff;
    font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    padding: 3px;
  }

  .receipt-number-content-list {
    background-color: #fff;
    margin: 15px;
    padding-bottom: 20px;
    border-radius: 4px;
  }

  .receipt-number-content-list .item-checkbox-checked {
    background-color: #eaf2f4;
  }

  .receipt-number-content-list .item-checkbox-checked:first-child {
    background-color: transparent;
  }

  .receipt-number-pieces {
    color: #777;
    font-size: 15px;
    font-weight: 300;
  }

  .receipt-label-left {
    float: left;
  }

  .receipt-label-right {
    float: right;
 }

  .receipt-select-all {
    background-color: transparent !important;
 }

  .listview-header {
    color: #545454;
    font-size: 18px;
    font-weight: 500;
 }

  .listview-sub-header {
    color: #545454;
    font-size: 15px;
    font-weight: 400;
 }

  .pieces-count {
    color: #545454;
    font-weight: 400;
 }

  .view-details-header {
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .view-list-contents {
    margin: 5px;
    border-radius: 4px;
 }

  .view-list-contents > .view-contents {
    background-color: #fcfcfc;
    border-bottom: 1px solid #ccc;
  }

  .view-list-contents > .view-contents:nth-child(1) {
    background-color: #fff;
    border-bottom: 1px solid #06c;
  }

  .receipt-number-content-list:nth-child(1) {
    border: 1px solid #06c;
  }

  .receipt-number-select-all {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

  .receipt-footer {
    background-color: #fff;
    width: 100%;
    text-align: center;
}

  .footer-row {
    height: 40px;
}

  .receipt-footer-text {
    color: #545454;
    font-size: 16px;
    padding-top: 9px;
    font-weight: 600;
}

  .receipt-footer-icon {
    font-size: 1.5em;
    vertical-align: middle;
}

  .receipt-footer-text-border {
    border-right: 1px solid #545454;
}

  .receipt-number-location {
    float: left;
    border: 1px solid #c03;
    width: 50%;
    padding-top: 20px;
}

  .receipt-number-awb {
    float: right;
    border: 1px solid #c03;
    width: 50%;
    padding-top: 20px;
}

  .pickup-segment {
    margin: 0;
    background-color: #fff;
}

  .receipt-footer-footer-left {
    background: #fff;
    text-align: center;
    border: 0.55px solid #c03;
    padding: 0;
}

  .receipt-footer-icon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

  .footer-button {
    text-align: center;
    background: transparent;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    width: 100%;
    padding: 0;
}

  .footer-button-disable {
    text-align: center;
    background: transparent;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    width: 99%;
    padding: 0;
    color: #d3d3d3;
}

  .title {
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    margin: 0;
    padding: 8px 0 0 13px;
    font-size: 18px;
}

  .col-top-set {
    top: 44px;
  }

  .col-top-no-set {
    top: 0;
  }
}
