<ion-header *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation">
  <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
  </champ-navigation-bar>
</ion-header>

<ion-content class="outer-packing-content" style="background-image:url('assets/images/app-bg.png')">
  <div (swipe)="swiped($event)" class="container-for-swipe">
    <p *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation"
       class="title">{{ contentTitle() }}</p>
    <div class="packing-content">
      <ion-item-group>
        <ion-item-divider class="packaging-header">
          {{ 'outerPackingMaterialsTitle' | translate }}
        </ion-item-divider>
        <champ-check-boxes-item [checkBoxesViewModel]="outerPackagingMaterialCheckBoxesViewModel" (checkBoxViewModelTapEvent)="tapEvent_On_OuterPackagingMaterialCheckBoxesViewModel($event)"
          class="list-items">
        </champ-check-boxes-item>
        <ion-item class="other-container" *ngIf="checkBoxViewModelOtherOfouterPackagingMaterial">
          <ion-input class="packaging-input" placeholder="Write Here...."
                     [(ngModel)]="damageReportsDataModel.outerPackagingMaterial[0].other"
                     (ngModelChange)="onOtherFieldOfOuterPackagingMaterialChanged()"
                     maxlength="20"
                     (ionFocus)="ionInputFocused()">
          </ion-input>
        </ion-item>
      </ion-item-group>

      <ion-list radio-group [(ngModel)]="outerPackagingTypeRadioButtonsViewModel.uniqueObjectIdOfRadioButtonViewModel" class="outer-packing-types-container">
        <ion-item-divider class="outerpacking-header">
          {{ 'outerPackingTypesTitle' | translate }}
        </ion-item-divider>
        <champ-radio-buttons-item [radioButtonsViewModel]="outerPackagingTypeRadioButtonsViewModel" (radioButtonViewModelTapEvent)="tapEvent_On_OuterPackagingTypeRadioButtonsViewModel($event)"
          class="list-items">
        </champ-radio-buttons-item>
        <ion-item class="other-container" *ngIf="radioButtonViewModelOtherOfOuterPackagingType">
          <ion-input class="packaging-input" placeholder="Write Here...."
                     [(ngModel)]="damageReportsDataModel.outerPackagingType[0].other"
                     (ngModelChange)="onOtherFieldOfOuterPackagingTypeChanged()"
                     maxlength="20"
                     (ionFocus)="ionInputFocused()">
          </ion-input>
        </ion-item>
      </ion-list>

      <ion-item-group class="inner-packing-container">
        <ion-item-divider class="packaging-header">
          {{ 'innerPackingsTitle' | translate }}
        </ion-item-divider>
        <champ-check-boxes-item [checkBoxesViewModel]="innerPackagingCheckBoxesViewModel" (checkBoxViewModelTapEvent)="tapEvent_On_InnerPackagingCheckBoxesViewModel($event)"
          class="list-items">
        </champ-check-boxes-item>
        <ion-item class="other-container" *ngIf="checkBoxViewModelOtherOfInnerPackaging != null">
          <ion-input class="packaging_input" placeholder="Write Here...."
                     [(ngModel)]="damageReportsDataModel.innerPackaging[0].other"
                     (ngModelChange)="onOtherFieldOfInnerPackagingChanged()"
                     maxlength="20"
                     (ionFocus)="ionInputFocused()"></ion-input>
        </ion-item>
      </ion-item-group>
    </div>
  </div>
</ion-content>

<!-- Related to MOB-224, MOB-258 in JIRA
  Q) Why do we have 'toShowFooter' flag ?
  A) The footer is overlapping with the ion-content when keyboard is up. It partially hides
  input fields placed at the end of the content user cannot view what he is typing.
  'toShowFooter' flag is used to hide or show the footer based on whether the keyboard is up or down
-->
<ion-footer *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation"
            class="footer"
            [class.show-footer]="toshowFooter"
            [class.hide-footer]="!toshowFooter">
    <ion-row>
      <ion-col col-6 class="footer-button-col-left">
        <button class="footer-button" ion-button text-center (click)="closePage()">
          <ion-thumbnail class="left-arrow-previous">
            <img src="assets/images/previousbutton.svg">
          </ion-thumbnail>
          {{ 'previous' | translate }}
        </button>
      </ion-col>
      <ion-col col-6 class="footer-button-col-right">
        <button class="footer-button" ion-button text-center (click)="nextPage()">
          {{ 'next' | translate }}
          <ion-thumbnail class="right-arrow-next">
            <img src="assets/images/nextbutton.svg">
          </ion-thumbnail>
        </button>
      </ion-col>
    </ion-row>
</ion-footer>
