<ion-header>
    <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
    </champ-navigation-bar>
</ion-header>

<ion-content class="damage-report-email-content" style="background-image:url('assets/images/app-bg.png')">
    <ion-item no-lines class="damage-report-email-select-all">
        <ion-label>
            <p class="damage-report-email-select-all damage-report-email-label-left">{{contentTitle() }}</p>
            <p class="damage-report-email-select-all damage-report-email-label-right">{{ 'selectAll' | translate }}</p>
        </ion-label>
        <ion-checkbox color="primary" item-right [(ngModel)]="imageCheckboxall" checked={{isAllImagesSelected}} (ionChange)="selectAllEmailImages()"></ion-checkbox>
    </ion-item>

    <ion-row class="damage-report-email-row">
        <ion-col col-4 col-md-3 col-sm-4 col-lg-3 style="padding: 2px;" *ngFor="let email_image_uri of emailCheckBoxesViewModel.checkBoxViewModels">

            <img [src]="email_image_uri.linkMediaDataModel.href" class="demage-report-email-img">
            <ion-checkbox color="primary" class="damage-report-email-checkbox" checked={{email_image_uri.isChecked}} [(ngModel)]="email_image_uri.isChecked"
                (ionChange)="updateEmailImageItem()"></ion-checkbox>

        </ion-col>
    </ion-row>

</ion-content>
<ion-footer>
    <ion-row>
        <ion-col class="footer-button-email-view">
            <button class="footer-button" ion-button text-center (click)="onsendEmailClicked()">
                <ion-thumbnail class="right-arrow-next">
                    <img src="assets/images/mail.svg">
                </ion-thumbnail>
                {{ 'send' | translate }}
                </button>
        </ion-col>
    </ion-row>

</ion-footer>