champ-page-damage-report-email {
  .damage-report-email-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }

  .damage-report-email-select-all {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    }

  .damage-report-email-select-all {
    background-color: transparent !important;
    }

  .damage-report-email-label-left {
    float: left;
    }

  .damage-report-email-label-right {
    float: right;
    }

  .demage-report-email-img {
    border-radius: 3px;
    min-height: 100px;
    width: 100%;
    }

  .damage-report-email-row {
    background-color: #fff;
    margin: 10px;
    border-radius: 2px;
    }

  .damage-report-email-checkbox {
    float: right;
    position: absolute;
    top: 8px;
    right: 10px;
    }

  .footer-button {
    text-align: center;
    background: transparent;
    color: #c03;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    width: 100%;
    padding: 0;
    text-transform: uppercase;
    }

  .right-arrow-next {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    }

  .footer-button-email-view {
    background: #fff;
    text-align: center;
    border: 0.55px solid #c03;
    padding: 0;
    }

  .button-md:hover:not(.disable-hover) {
    background: transparent;
    }

  .damage-report-email-thumbnail {
    height: 110px;
    width: 110px;
    }
}
