champ-page-damage-report {
  .outer-damagereport-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .damagereport-content {
    margin: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
  }

  .damage-details-header {
    font-size: 1.4em;
    color: #000;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .damage-details-header ion-label {
    font-size: 1em;
  }

  .top-margin {
    margin-top: 10px;
  }

  .container-for-swipe {
    width: 100%;
    height: 100%;
  }

  .other-container {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 10px;
  }

  .left-arrow-previous {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  .right-arrow-next {
    width: 24px;
    height: 24px;
    margin-left: 4px;
  }

  .footer-button-col-left {
    background: #fff;
    text-align: center;
    border: 0.55px solid #c03;
    padding: 0;
  }

  .footer-button-col-right {
    background: #fff;
    text-align: center;
    border-top: 0.55px solid #c03;
    border-bottom: 0.55px solid #c03;
    border-right: 0.55px solid #c03;
    padding: 0;
  }

  .footer-button {
    text-align: center;
    background: transparent;
    color: #c03;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    width: 100%;
    padding: 0;
  }

  .footer-button.activated {
    color: #c03;
    background: transparent;
  }

  .title {
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    margin-left: 15px;
  }

  .show-footer {
    display: block;
  }

  .hide-footer {
    display: none;
  }
}
