<ng-template #isGenericListItemViewModelType_Icon_MainText_SubText let-genericListItemViewModel>
    <ion-item no-lines class="bottom-border" 
              [style.margin-bottom.px]="genericListItemViewModel.marginBottom"
              [style.border-radius.px]="genericListItemViewModel.borderRadius"
              *ngIf="genericListItemViewModel.isGenericListItemViewModelType_Icon_MainText_SubText()" 
              [attr.detail-push]="genericListItemViewModel.shouldShowRightArrow ? true : null"
              [class.main-text-wrap]="genericListItemViewModel.textWrap">
        <ion-thumbnail class="left-image-item" item-start>
            <img class="left-image" src="{{genericListItemViewModel.icon}}">
            <img *ngIf="genericListItemViewModel.thumbnailBadgeImage" class="left-image-badge" src="{{genericListItemViewModel.thumbnailBadgeImage}}">
        </ion-thumbnail>
        {{genericListItemViewModel.mainText}} 
        <span *ngIf="genericListItemViewModel.shouldShowMandatoryStar" >
            <img class="mandatory-star-img" src="assets/images/mandatorystar.svg">
        </span>
        <div>
            <span class="item-note subtitle">
                {{genericListItemViewModel.subText}} 
            </span>
        </div>
    </ion-item>
</ng-template>

<ion-list *ngIf="!toRenderUnderScroll">
  <div *ngFor="let genericListItemViewModel of genericListItemViewModels"
            (click)="onTap(genericListItemViewModel)">
    <ion-item no-lines class="bottom-border"
              *ngIf="genericListItemViewModel.isGenericListItemViewModelType_MainText()"
              [attr.detail-push]="genericListItemViewModel.shouldShowRightArrow ? true : null"
              [class.main-text-wrap]="genericListItemViewModel.textWrap">
      {{ genericListItemViewModel.mainText }}
    </ion-item>
    <ng-container *ngTemplateOutlet="isGenericListItemViewModelType_Icon_MainText_SubText; context: {$implicit: genericListItemViewModel}">
    </ng-container>
    <ion-item class="ion-thumb bottom-border"
              *ngIf="genericListItemViewModel.isGenericListItemViewModelType_HorizontalListing_Of_Media_ThumbNails()"
              [style.margin-bottom.px]="genericListItemViewModel.marginBottom"
              [style.border-radius.px]="genericListItemViewModel.borderRadius"
              [style.background]="genericListItemViewModel.backgroundColor"
              [attr.detail-push]="genericListItemViewModel.shouldShowRightArrow ? true : null">
        <ion-thumbnail class="left-image-item" item-start>
           <img class="left-image" src="{{genericListItemViewModel.icon}}">
        </ion-thumbnail>
        <span class="white-color-text">{{genericListItemViewModel.mainText}}</span>
        <div>
            <span class="white-color-text item-note subtitle">
                {{genericListItemViewModel.subText}} 
            </span>
        </div>
      <ion-scroll scrollX="true" style="height: 100px;" class="media-horizontal-scroll">
        <div *ngFor="let linkMediaDataModel of genericListItemViewModel.horizontalListingOfMediaThumbNailsURLs.linkMediaDataModels; let i = index"
             class="thumbnail-item">
            <ion-thumbnail item-start class="media-thumbnail"> 
                <img src="{{ horizontalListingOfMediaThumbNailsURLsDataForIndex(linkMediaDataModel,i) }}"/>
                <button ion-button
                        icon-only
                        class="delete-btn"
                        (click)="deleteButtonofHorizontalListingOfMediaThumbNailsURLsClicked($event, i)">
                    <ion-icon name="close-circle"></ion-icon>
                </button>
            </ion-thumbnail>
        </div>
      </ion-scroll>
    </ion-item>
    <ion-item *ngIf="genericListItemViewModel.isGenericListItemViewModelType_NotificationGenericListItemViewModel()"
              class="bottom-border notification-item"
              [attr.detail-push]="genericListItemViewModel.shouldShowRightArrow ? true : null">
        <ion-item no-lines>
                <ion-thumbnail class="left-image-item notification-thumbnail" item-start>
                    <img class="left-image" src="{{genericListItemViewModel.syncStatusIcon()}}">
                </ion-thumbnail>
                    {{genericListItemViewModel.mainText}} 
                <div class="subtitle-item">
                 <span class="item-note subtitle">
                     {{genericListItemViewModel.subText}} 
                 </span>
                </div>
        </ion-item>
        <div ion-item no-lines class="action" >
              <ion-thumbnail class="blank-thumbnail" item-start></ion-thumbnail>
              <span [style.color]="genericListItemViewModel.syncStatusColor()" class="left-content">{{ genericListItemViewModel.syncStatus() }}</span> 
              <span class="right-content-link" (click)='actionClicked(genericListItemViewModel)'>{{ genericListItemViewModel.action }}</span>
        </div>
    </ion-item>

    <ion-item no-lines class="bottom-border left-main-sub-text-container" 
              [style.margin-bottom.px]="genericListItemViewModel.marginBottom"
              [style.border-radius.px]="genericListItemViewModel.borderRadius"
              *ngIf="genericListItemViewModel.isGenericListItemViewModelType_LeftText_MainText_SubText()" 
              [attr.detail-push]="genericListItemViewModel.shouldShowRightArrow ? true : null">
        <div class="left-text-container">
            <p>{{ genericListItemViewModel.leftTopText }}</p>
            <p>{{ genericListItemViewModel.leftBottomText }}</p>
        </div>
        <div class="vertical-line"></div>
        <div class="main-sub-text-container">
                <p>{{genericListItemViewModel.mainText}}</p>
                <p>{{genericListItemViewModel.subText}}</p> 
        </div>
    </ion-item>
  </div>    
</ion-list>

<ion-content *ngIf="toRenderUnderScroll"
             class="to-render-under-scroll">
    <ion-list id="generic-report-list-left-pane">
        <div *ngFor="let genericListItemViewModel of genericListItemViewModels"
            (click)="onTap(genericListItemViewModel)"  class=""
            id="{{genericListItemViewModel.tag}}">
            <ng-container *ngTemplateOutlet="isGenericListItemViewModelType_Icon_MainText_SubText; context: {$implicit: genericListItemViewModel}">
            </ng-container>
        </div>    
    </ion-list>
</ion-content>