champ-generic-list-item {
  .subtitle {
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #666;
    white-space: normal;
    }

  .item[no-lines].bottom-border {
    border-bottom: 1px solid #d3d3d3;
  }

  .item-md[detail-push] .item-inner,
  .item-ios[detail-push] .item-inner,
  .item-wp[detail-push] .item-inner {
    background-image: url('../assets/images/nextarrow.svg');
    background-size: 20px 20px;
  }

  .ion-thumb {
    overflow: scroll;
  }

  .delete-btn {
    position: absolute;
    top: -5px;
    right: -3px;
    width: 30px;
    height: 30px;
   }

  .thumbnail-item {
    display: inline-block;
   }

  .media-thumbnail {
    position: relative;
   }

  .action {
    padding-top: 0;
  }

  .left-content {
    float: left;
 }

  .right-content-link {
    float: right;
    cursor: pointer;
    color: #06c;
 }

  .left-image-item {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    position: relative;
  }

  .left-image {
    width: 50px !important;
    height: 50px !important;
  }

  .media-horizontal-scroll {
    background: #fff;
  }

  .white-color-text {
    color: #fff !important;
  }

  .blank-thumbnail {
    min-height: 0;
    min-width: 50px;
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 50px;
  }

  .subtitle-item {
    margin-top: 10px;
  }

  .notification-thumbnail {
    margin: 7px !important;
  }

  .notification-item {
    padding-left: 0;
  }

  .mandatory-star-img {
    width: 10px;
    height: 10px;
    margin-bottom: 5px;
  }

  .left-image-badge {
    position: absolute;
    top: -2px;
    right: 0;
    width: 20px  !important;
    height: 20px  !important;
  }

  .generic-class {
    background-color: transparent;
  }

  .vertical-line {
    height: 20px;
    width: 1px;
    background: #666;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }

  .left-text-container {
    float: left;
    padding: 10px;
    margin-left: 5px;
  }

  .main-sub-text-container {
    float: left;
    padding: 10px;
  }

  .left-main-sub-text-container {
    text-align: center;
    padding: 0;
  }

  .left-main-sub-text-container ion-label {
    display: flex;
    align-items: center;
  }

  .to-render-under-scroll {
    background: transparent !important;
  }

  .main-text-wrap ion-label {
    white-space: normal;
  }
}
