<ion-header>
  <!--
    <ion-buttons left>
       <button ion-button icon-only (click)="backButtonClicked()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button> 
    </ion-buttons>
    -->
  <champ-navigation-bar #navigationBarComponent
                        [navigationBarViewModel]="navigationBarViewModel"
                        (backButtonTapEvent)= "backButtonClicked($event)">
  </champ-navigation-bar>

  <ion-item no-lines class="damage-notification-header">
      
     <button icon-only ion-button large item-start class="section-selction-item" (click)="presentSectionSelectionPopover()">
        <img src="assets/images/notification-switch.svg" width='26'/> 
        <p>{{ 'damagereport' | translate  }}</p>
      </button>
      <button icon-only ion-button large class="sort-button" (click)="presentPopover($event)" item-end>
        <img src="assets/images/sort.svg" width='26'/> 
        <p class="sort-option-selected">
          {{ 'filter' | translate  }}
        </p>
      </button>
  </ion-item>
</ion-header>

<ion-content class="outer-notification-content" style="background-image:url('assets/images/app-bg.png')">
    <ion-item class="notification-count-item">
      <span class="notification-count"> {{ notificationGenericListItemViewModelsToShow.length }} </span>
      <span class="notification-text">{{ ' notifications' | translate}} </span>
    </ion-item>
    <champ-generic-list-item *ngIf="notificationGenericListItemViewModelsToShow != null"
                             [genericListItemViewModels]="notificationGenericListItemViewModelsToShow"
                             (tapEvent)="tapEvent_On_GenericListItemComponent($event)"
                             (tapEventOnUserAction)="tapEventOnNotificationUserAction($event)"
                             class="damage-list">
    </champ-generic-list-item>
  <ion-item *ngIf="notificationGenericListItemViewModelsToShow == null || notificationGenericListItemViewModelsToShow.length == 0" no-lines class="align-center">
    <ion-thumbnail> 
      <img class="no-notification-bell-img" src="assets/images/no-notification.svg" />
    </ion-thumbnail>
    <p class="main-text">{{ 'noNotificationText' | translate }}</p>
    <p class="sub-text">{{ 'noNotificationSubtext' | translate }}</p>
  </ion-item>
</ion-content>
<ion-footer>
</ion-footer>
