champ-page-notifications {
  .add-border-bottom {
    border-bottom: 0.55px solid #c8c7cc;
 }

  .sub-text {
    font-size: smaller;
    padding-left: 22px;
 }

  .sub-text-filter {
    font-size: smaller;
    color: #c03;
    font-weight: 600;
 }

  .sort-option-selected {
    color: #c03;
  }

  .damage-notification-header {
    background-color: #fff !important;
  }

  .damage-notification-header button {
    box-shadow: 0 0 0 0;
  }

  .add-border-notification {
    border: 0.55px solid #c8c7cc !important;
    border-top: 0 !important;
  }

  .left-content {
    float: left;
  }

  .main-text {
    font-size: 20px;
  }

  .sub-text {
    font-size: 15px;
    white-space: normal;
  }

  .align-center {
    text-align: center;
    color: #d3d3d3;
  }

  .right-content-link {
    float: right;
    cursor: pointer;
  }

  .moredetails {
    padding-left: 56dpx;
  }

  .damage-list .list-md,
  .damage-list .list-ios {
    margin: 0;
  }

  .outer-notification-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .outer-notification-content .scroll-content {
    padding: 10px;
  }

  .section-selction-item {
    background: #fff;
  }

  .section-selction-item span p {
    margin-left: 5px;
    text-transform: capitalize;
  }

  .sort-button {
    background: #fff;
  }

  .sort-button span p {
    margin-left: 5px;
    text-transform: capitalize;
  }

  .notification-count-item {
    background: transparent;
    color: #fff;
    padding-left: 0;
  }

  .notification-count {
    font-weight: 800;
  }

  .notification-text {
    text-transform: capitalize;
  }

  .no-notification-bell-img {
    display: inline;
    margin: 15px;
  }

  .filter-type-label {
    color: #999;
    font-weight: 400;
    font-size: 1em;
  }

  .sort-button.activated {
    background: transparent;
  }

  .section-selction-item.activated {
    background: transparent;
  }

}

