champ-page-found-cargo-search {
  .outer-content-container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }

  .found-cargo-container {
    background: #fff;
    margin: 10px;
    width: inherit;
    }

  .grey-text-color {
    color: #727272;
    font-weight: 600;
    }

  .dark-grey-text-color {
    color: #545454;
    font-weight: 600;
    }

  .container {
    display: flex;
    border-bottom: 0.8px solid #c03;
   }

  .awb-text {
    border: 0.8px solid #c03;
    text-align: center;
    padding: 8px 5px;
    border-radius: 5px;
    color: #c03;
  }

  .left-awb {
    flex: 0 0 38px;
    text-align: right;
  }

  .left-awb .text-input {
    margin-left: 5px;
    margin-right: 2px;
    width: calc(100% - 1px - 1px);
  }

  .right-awb {
    flex: 1;
    margin-left: 4px;
  }

  .right-awb .text-input[disabled] {
    opacity: 1;
  }

  .search-button {
    font-size: 25px;
    background: transparent;
  }

  .or-scan-container {
    margin-top: 10px;
  }

  .scan-btn-row {
    padding: 0 0 15px;
  }

  .scan-btn-text {
    font-weight: 800;
  }

  .scan-btn {
    width: 100%;
    height: 50px;
    background-color: #c03;
    color: #fff;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    padding-top: 0;
  }

  .scan-btn.activated {
    background-color: #c03;
  }

  .awb-list {
    position: absolute;
  }

  .loading-container {
    background: #aaa;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.3;
  }

  .loading-spinner {
    width: 100%;
    position: absolute;
    top: 40%;
  }

  .loading-spinner * {
    stroke: #00f !important;
  }

  .unknown-awb {
    float: right;
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid #c03;
    color: #fff;
    border-radius: 5px;
    background-color: #c03;
    font-size: 1.1em;
    font-weight: 800;
  }
}
