<ion-header id="searchBarHeader">
    <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
    </champ-navigation-bar>
</ion-header>

<ion-content class="outer-content-container" style="background-image:url('assets/images/app-bg.png')">
    <ion-grid class="found-cargo-container">
        <ion-row>
            <ion-col col-12>
                <ion-label text-uppercase class="grey-text-color">{{ 'registerfoundcargo' | translate }}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="dark-grey-text-color">
                {{ 'enterNumber' | translate}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
                <ion-label class="awb-text"> {{ 'awb' | translate }}</ion-label>
            </ion-col>
            <ion-col col-9>
                <div class="container" id="containerAWB">
                    <ion-input class="left-awb" maxlength="3" placeholder="{{ 'prefix' | translate }}" (ionChange)='onAWBPrefixSearchbarTextChanged()'
                        #awbPrefixSearchbar [(ngModel)]="awbPrefixSearchbarText" (ngModelChange)="changedAWBPrefix($event)" type="tel">
                    </ion-input>
                    <ion-input class="right-awb" maxlength="9" placeholder="{{ 'serialNumber' | translate }}" (ionChange)='onAWBSerialSearchbarTextChanged()'
                        #awbSerialSearchbar [(ngModel)]="awbSerialSearchbarText" (keyup.backspace)="onAWBSerialSearchbarBackspacePressed();"
                        disabled="{{isAWBSerialDisabled}}" type="tel">
                    </ion-input>
                    <button class="search-button" (click)="onSearchClicked()">
              <ion-icon name="search"></ion-icon>
            </button>
                </div>
            </ion-col>
            </ion-row>
            <ion-row class="or-scan-container">
                <ion-col class="dark-grey-text-color">
                    {{ 'orScan' | translate}}
                </ion-col>
            </ion-row>
        <ion-row class="scan-btn-row">
            <ion-col col-12>
                <button ion-button (click)="onScanClicked()" class="scan-btn scan-btn-text">
                    {{ 'scan' | translate }}
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
<span class="unknown-awb" text-uppercase (click)="onGenerateAWB()">{{'unknownawb' | translate}}</span>
    <ion-content *ngIf="awbGenericListItemViewModels != null" class="awb-list" [style.top.px]="rectDataModel.top" [style.left.px]="rectDataModel.left"
        [style.width.px]="rectDataModel.width" [style.height.px]="rectDataModel.height">
        <champ-generic-list-item [genericListItemViewModels]="awbGenericListItemViewModels" (tapEvent)="tapEvent_On_AWBGenericListItemViewModels($event)">
        </champ-generic-list-item>
        <div class="loading-container" *ngIf="shouldShowLoadingContainerInAWBList">
            <ion-spinner name="crescent" class="loading-spinner"></ion-spinner>
        </div>
    </ion-content>
</ion-content>