<ng-template #selectOrigin>
        <ion-label class="found-cargo-content-list">
                <ion-item>
                        <ion-input class="found-cargo-input" text-uppercase type="text" placeholder="{{ 'searchoriginplaceholder' | translate }}"
                                #originSearchBar (ionChange)='originInputTextChanged()'></ion-input>
                        <ion-icon item-end name="search" class="search-icon"></ion-icon>
                </ion-item>
                <ion-item-divider *ngIf="fakeoriginRadioButtonsViewModel != null" class="popularsearch-header">{{ 'airportlist' | translate }}</ion-item-divider>
                <ion-list radio-group *ngIf="fakeoriginRadioButtonsViewModel != null" [(ngModel)]="fakeoriginRadioButtonsViewModel.uniqueObjectIdOfRadioButtonViewModel"
                        class="outer-packing-types-container">
                        <champ-radio-buttons-item [radioButtonsViewModel]="fakeoriginRadioButtonsViewModel" (radioButtonViewModelTapEvent)="tapEvent_On_OriginRadioButtonsViewModel($event)"
                                class="list-items">
                        </champ-radio-buttons-item>
                </ion-list>
        </ion-label>
</ng-template>

<ng-template #selectSHC>
        <ion-label class="found-cargo-content-list">
                <ion-item>
                        <ion-input class="found-cargo-input" text-uppercase type="text" placeholder="{{ 'searchshcplaceholder' | translate }}" #schSearchBar
                                (ionChange)='shcInputTextChanged()'></ion-input>
                        <ion-icon item-end name="search" class="search-icon"></ion-icon>
                        <button (click)="onSHCScanClicked()" item-right class="scan-btn">
                                <img src="assets/images/scan.svg" width='25'>
                        </button>
                </ion-item>
                <ion-item *ngIf="shcSelectDataModel.specialHandlingCode[0].shcType.length !== 0">
                <ion-label  class="found-cargo-shc-label found-cargo-shc-label-tabview">
                        <span class="found-cargo-shc-span" *ngFor="let SHCData of shcSelectDataModel.specialHandlingCode[0].shcType;" (click)="onRemoveSHC(SHCData);">
                                <span class="found-cargo-shc-selected-txt">{{ SHCData.code }}</span>
                                <ion-icon name="close" class="found-cargo-shc-selected-txt"></ion-icon>
                        </span>
                </ion-label>
        </ion-item>
                <ion-item-divider *ngIf="fakeshcCheckBoxesViewModel != null" class="popularsearch-header">{{ 'shclisttext' | translate }}</ion-item-divider>
                <champ-check-boxes-item *ngIf="fakeshcCheckBoxesViewModel != null" [checkBoxesViewModel]="fakeshcCheckBoxesViewModel" (checkBoxViewModelTapEvent)="tapEvent_On_SHCCheckBoxesViewModel($event)"
                        class="list-items">
                </champ-check-boxes-item>
        </ion-label>
</ng-template>

<ng-template #foundDetails>
        <ion-label class="found-cargo-content-list">
                <ion-item *ngIf="!toShowSplitPaneInTabletLandScapeOrientation" class="found-cargo-item" (click)="onSelectOrigin();">
                        <ion-label class="found-cargo-label" style="padding-bottom: 5px" stacked>{{ 'origin' | translate }}<span>
                                <img class="mandatory-star-img" src="assets/images/mandatorystar.svg">
                            </span></ion-label>
                        <ion-label *ngIf="shcSelectDataModel.selectedOrigin.code=='Origin'" class="origin-label">
                                {{ shcSelectDataModel.selectedOrigin.code}}</ion-label>
                        <ion-label *ngIf="shcSelectDataModel.selectedOrigin.code!='Origin'" class="origin-label">
                                {{ shcSelectDataModel.selectedOrigin.code}} - {{ shcSelectDataModel.selectedOrigin.name}}</ion-label>
                </ion-item>
                <ion-item class="found-cargo-item">
                        <ion-label class="found-cargo-label" stacked>{{ 'goodsdescrition' | translate }}<span>
                                <img class="mandatory-star-img" src="assets/images/mandatorystar.svg">
                            </span></ion-label>
                        <ion-input class="found-cargo-input" (ionChange)='onSearchbarTextChanged()' [(ngModel)]="foundCargoViewDataModel.description"
                                placeholder="{{ 'writedown' | translate }}" type="text" maxlength="20">
                        </ion-input>
                </ion-item>
                <ion-item *ngIf="!toShowSplitPaneInTabletLandScapeOrientation" class="found-cargo-item">
                        <ion-label class="found-cargo-label" stacked>{{ 'shc' | translate }}</ion-label>
                        <ion-label (click)="onAddSHC();">
                                <ion-icon name="add" class="found-cargo-shc-txt"></ion-icon>
                                <span class="found-cargo-shc-txt">{{ 'addshc' | translate }}</span>
                        </ion-label>
                        <ion-label *ngIf="shcSelectDataModel.specialHandlingCode[0]!=null && shcSelectDataModel.specialHandlingCode[0].shcType.length!=0
                                " class="found-cargo-shc-label">
                                <span class="found-cargo-shc-span" *ngFor="let addSHC of shcSelectDataModel.specialHandlingCode[0].shcType;">
                                        <span class="found-cargo-shc-selected-txt">{{ addSHC.code }}</span>
                                        <ion-icon name="close" class="found-cargo-shc-selected-txt"></ion-icon>
                                </span>
                        </ion-label>
                </ion-item>
                <ion-row class="row-set-padding-bottom">
                        <ion-col col-12 col-md col-xs col-sm class="col-padding-set-to-zero">
                <ion-item class="found-cargo-item">
                        <ion-label class="found-cargo-label" stacked>{{ 'foundpieces' | translate }}<span>
                                <img class="mandatory-star-img" src="assets/images/mandatorystar.svg">
                            </span></ion-label>
                        <ion-input class="found-cargo-input" (ionChange)='onSearchbarTextChanged()' [(ngModel)]="foundCargoViewDataModel.foundPieces"
                                placeholder="{{ 'piecesNo' | translate }}" type="tel" maxlength="5">
                        </ion-input>
                </ion-item>
        </ion-col>
        <ion-col col-12 col-md col-xs col-sm class="col-padding-set-to-zero">
                <ion-row>
                        <ion-col col-8 class="col-padding-set-to-zero">
                                <ion-item class="found-cargo-item">
                                        <ion-label class="found-cargo-label" stacked>{{ 'foundweightTitle' | translate }}</ion-label>
                                        <ion-input class="found-cargo-input" (ionChange)='onSearchbarTextChanged()' [(ngModel)]="foundCargoViewDataModel.foundWeight"
                                                placeholder="{{ 'foundweightTitle' | translate }}" type="tel" maxlength="7">
                                        </ion-input>
                                </ion-item>
                        </ion-col>
                        <ion-col col-4 class="col-padding-set-to-zero">
                                <ion-item class="found-cargo-item">
                                        <ion-label class="found-cargo-label unit-label" stacked>{{ 'unitTitle' | translate }}</ion-label>
                                        <ion-label class="found-cargo-label" style="padding-bottom: 9px;" stacked>{{ 'unitInput' | translate }}</ion-label>
                                </ion-item>
                        </ion-col>
                </ion-row>
                </ion-col>
        </ion-row>

        </ion-label>
</ng-template>

<ng-template #storageLocation>
        <ion-label class="found-cargo-content-list bottom-padding-set">
                <ion-item class="found-cargo-item">
                        <ion-label class="found-cargo-label" stacked>{{ 'preferredlocation' | translate }}</ion-label>
                        <ion-input class="found-cargo-input" [(ngModel)]="foundCargoViewDataModel.preferedLocation" placeholder="{{ 'notavailable' | translate }}"
                                type="text" disabled="true">
                        </ion-input>
                </ion-item>

                <ion-label class="found-cargo-label-text" stacked>{{ 'storagelocation' | translate }}</ion-label>
                <ion-row class="found-cargo-row">
                        <ion-col col-3>
                                <ion-label class="found-cargo-label" stacked>{{ 'pieceses' | translate }}</ion-label>
                        </ion-col>
                        <ion-col col-3>
                                <ion-label class="found-cargo-label" stacked>{{ 'weightInput' | translate }}</ion-label>
                        </ion-col>
                        <ion-col col-5>
                                <ion-label class="found-cargo-label" stacked>{{ 'location' | translate }}</ion-label>
                        </ion-col>
                </ion-row>
                <span *ngIf="foundCargoViewDataModel.foundPieces!=null">
                        <ion-row class="found-cargo-row" *ngFor="let storageLocation of foundCargoViewDataModel.storageLocation; let i = index">
                                <ion-col col-3>
                                        <ion-input class="found-cargo-input" 
                                        (ionChange)="onStoragePiecesChanged(i)" 
                                        [(ngModel)]="storageLocation.storedPieces" 
                                        placeholder="{{ 'pieceses' | translate }}"
                                        type="text" type="tel" maxlength="5"></ion-input>
                                </ion-col>
                                <ion-col col-3>
                                        <ion-input class="found-cargo-input"
                                        (ionChange)="onStorageWeightChanged(i)" 
                                        [(ngModel)]="storageLocation.weight" placeholder="{{ 'weightInput' | translate }}"
                                                type="text" type="tel" maxlength="7"></ion-input>
                                </ion-col>
                                <ion-col col-5>
                                        <ion-input class="found-cargo-input" (ionFocus)='onLocationTextChanged(i)' (ionChange)='onLocationTextChanged(i)' [(ngModel)]="storageLocation.location"
                                                placeholder="{{ 'location' | translate }}" 
                                                type="text" maxlength="8"></ion-input>
                                        <div (click)="onScanClicked(i)" class="location-scan-bg" *ngIf="storageLocation.viewDelete">
                                                <img width='20' src="assets/images/scan.svg" class="scan-btn">
                                                <ion-label class="scanbtn-text" text-uppercase>{{'scanit' | translate}}</ion-label>
                                        </div>
                                </ion-col>
                                <ion-col col-1>
                                        <span (click)="onRemoveStorageLocation(i)">
                                                <ion-icon name="ios-close-circle-outline" class="close-icon"></ion-icon>
                                        </span>
                                </ion-col>
                        </ion-row>
                </span>
        </ion-label>
</ng-template>

<ng-template #mobileContentPane>
        <ion-label class="found-cargo-mobile-content-list">
                <ng-container *ngTemplateOutlet="foundDetails"></ng-container>
                <ng-container *ngTemplateOutlet="storageLocation"></ng-container>
        </ion-label>
</ng-template>

<ng-template #tabletContentPane>
        <champ-generic-list-item *ngIf="genericListItemViewModelsForTabletDevices != null" id="genericListItemShowingMenuComponent"
                [genericListItemViewModels]="genericListItemViewModelsForTabletDevices" (tapEvent)="tapEvent_On_GenericListItemComponent($event)"
                class="damage-list">
        </champ-generic-list-item>
</ng-template>

<ng-template #splitPaneMasterComponent>
        <ion-scroll scrollY="true" [style.height.px]="rectDataModel.height">
                <ng-container *ngTemplateOutlet="tabletContentPane"></ng-container>
        </ion-scroll>
</ng-template>

<ng-template #splitPaneDetailComponent>
        <ion-scroll scrollY="true" [style.height.px]="rectDataModel.height">
                <ng-container *ngTemplateOutlet="detailPaneContenttoLoadInTabletLandScapeOrientation"></ng-container>
        </ion-scroll>
</ng-template>

<ion-header id="navigationBarHeader" class="header-text">
        <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
        </champ-navigation-bar>
</ion-header>

<ion-content class="outer-content-container" style="background-image:url('assets/images/app-bg.png')">
        <ion-label class="found-cargo-text" id="foundCargoLabel">
                {{'createfoundcargotxt' | translate}}
        </ion-label>
        <div *ngIf="!toShowSplitPaneInTabletLandScapeOrientation">
                <ng-container *ngTemplateOutlet="mobileContentPane"></ng-container>
        </div>

        <ion-grid *ngIf="toShowSplitPaneInTabletLandScapeOrientation" style="height: 100%">
                <ion-row style="height: 98%">
                        <ion-col col-5>
                                <ng-container *ngTemplateOutlet="splitPaneMasterComponent"></ng-container>
                        </ion-col>
                        <ion-col>
                                <ng-container *ngTemplateOutlet="splitPaneDetailComponent"></ng-container>
                        </ion-col>
                </ion-row>
        </ion-grid>
</ion-content>

<ion-footer>
        <ion-row>
                <ion-col class="footer-button-col">
                        <button class="footer-button" [ngClass]="toShowEnabledSaveButton ? 'enabled-text-color':'disabled-text-color'" ion-button text-center [disabled]="!toShowEnabledSaveButton" (click)="onSaveClicked()">
                                <ion-thumbnail class="save-image-left">
                                        <img *ngIf="toShowEnabledSaveButton" src="assets/images/save.svg">
                                        <img *ngIf="!toShowEnabledSaveButton" src="assets/images/save-disable.svg">
                                </ion-thumbnail>
                                {{ 'save' | translate }}
                        </button>
                </ion-col>
        </ion-row>
</ion-footer>