champ-page-create-found-cargo {
  .outer-content-container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

  .add-border-bottom {
    border-bottom: 0.55px solid #c8c7cc;
  }

  .remove-border-bottom > .item-inner {
    border-bottom: transparent !important;
  }

  .header-msg {
    text-align: center;
    color: #008000;
    margin: 0;
  }

  .header-icon {
    font-size: 3em;
    vertical-align: middle;
    margin-right: 5px;
  }

  .scan-btn {
    background-color: #c03;
    color: #fff;
    font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
  }

  .found-cargo-text {
    margin: 5px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
  }

  .found-cargo-content-list {
    margin: 0 !important;
    background-color: #fff;
    border-radius: 3px;
  }

  .found-cargo-mobile-content-list {
    background-color: #fff;
    margin: 15px;
    padding-right: 10px;
    padding-bottom: 30px;
    border-radius: 6px;
  }

  .bottom-padding-set {
    padding-bottom: 30px;
  }

  .found-cargo-label {
    font-size: 18px !important;
    color: #545454 !important;
    font-weight: 500;
  }

  .found-cargo-input {
    padding: 0 !important;
  }

  .found-cargo-input > .text-input {
    margin: 13px 0 !important;
  }

  .found-cargo-input > input::placeholder {
    text-transform: none !important;
  }

  .found-cargo-input > input::-webkit-input-placeholder {
    text-transform: none !important;
  }

  .found-cargo-item {
    margin-top: 0;
  }

  .mandatory-star-img {
    width: 10px;
    height: 10px;
    margin-bottom: 5px;
  }

  .weight-unit-select {
    margin: 10px 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .weight-unit-select.select-disabled,
  .unit-label {
    opacity: 1;
  }

  .found-cargo-shc-txt {
    font-size: 1em;
    color: #06c;
    font-weight: 500;
    padding-right: 5px;
  }

  .flight-label {
    padding-top: 10px;
    padding-left: 16px;
    margin-bottom: 0;
    font-size: 18px !important;
    color: #545454;
    font-weight: 500;
  }

  .col-padding-set-to-zero {
    padding: 0;
  }

  .row-set-padding-bottom {
    padding-bottom: 5px;
  }

  .input-container {
    padding-right: 0 !important;
  }

  .input-container .item-inner {
    padding-right: 0 !important;
  }

  .flight-code-input input,
  .flight-number-input input,
  .flight-date-input {
    text-transform: uppercase;
  }

  .flight-code-input input::placeholder,
  .flight-number-input input::placeholder {
    text-transform: capitalize;
  }

  .flight-number-container,
  .date-container {
    padding-left: 10px !important;
  }

  .found-cargo-label-text {
    font-size: 18px !important;
    color: #545454 !important;
    font-weight: 500;
    margin-top: 20px;
    padding-left: 16px;
  }

  .footer-button-col {
    background: #fff;
    text-align: center;
    border: 0.55px solid #c03;
    padding: 0;
  }

  .footer-button {
    text-align: center;
    background: transparent;
    color: #c03;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    width: 100%;
    padding: 0;
    text-transform: uppercase;
  }

  .footer-button.activated {
    color: #c03;
    background: transparent;
  }

  .enabled-text-color {
    color: #c03;
  }

  .disabled-text-color {
    color: #d3d3d3;
  }

  .save-image-left {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  .found-cargo-shc-label {
    overflow: initial;
    margin: 0;
    white-space: normal;
  }

  .found-cargo-shc-label-tabview {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .found-cargo-shc-span {
    background-color: #dde9f2;
    margin-right: 5px;
    border-radius: 5px;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 5px;
    padding: 7px 10px;
  }

  .found-cargo-shc-selected-txt {
    font-size: 1em;
    color: #545454;
    font-weight: 500;
    padding-right: 5px;
  }

  .found-cargo-shc-bg {
    background-color: #dde9f2;
    margin-right: 5px;
    border-radius: 5px;
    white-space: normal;
  }

  .origin-label {
    font-size: 1.1em !important;
    color: #808080 !important;
    margin: 8px 0 !important;
  }

  .found-cargo-row {
    margin: 0 10px;
  }

  .found-cargo-input input::placeholder {
    font-size: 1.1em;
  }

  ion-scroll {
    white-space: nowrap;
  }

  .found-cargo-row-input {
    font-size: 1em;
    font-weight: 500;
    color: #545454 !important;
  }

  .close-icon {
    font-size: 1.4em;
    margin-top: 10px;
    font-weight: bold;
  }

  .scanbtn-text {
    color: #06c;
    margin: 0;
    margin-top: 11px;
    padding-left: 5px;
  }

  .scan-btn {
    float: left;
    background-color: #c03;
    color: #fff;
    font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    margin-top: 8px;
    }

  .search-icon {
    color: #d3d3d3;
  }

  .location-scan-bg {
    /*position: absolute;
    z-index: 10;
    background: #d3d3d3;
    padding: 5px;
    top: 34px; */
    position: absolute;
    background: #d3d3d3;
    padding: 5px;
    top: 34px;
    border-radius: 2px;
    overflow: hidden;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0.4rem 0.2rem;
    padding: 0 1.1em;
    }

  .header-text {
    text-align: center;
    }
}
