<ion-header>
    <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
    </champ-navigation-bar>
</ion-header>

<ion-content class="delivery-confirmation-content" style="background-image:url('assets/images/app-bg.png')">
    <ion-label class="delivery-confirmation-header"> {{ _headerText }} {{_receiptNumber}}</ion-label>
    <ion-grid>
        <ion-row>
            <ion-col col-12 col-lg>
                <ion-label class="delivery-confirmation-content-list">
                    <ion-item>
                        <ion-label class="total-count-header">
                            <p class="delivery-confirmation-label delivery-confirmation-label-left">{{ 'totalCollected' | translate }}</p>
                            <p class="delivery-confirmation-label delivery-confirmation-label-right">{{ _totalPieces}} </p>
                        </ion-label>
                    </ion-item>
                    <ion-item no-lines *ngFor="let deliveryConfirmationData of deliveryConfirmationDataModel">
                        <ion-label class="items-count-header">
                            <p class="delivery-confirmation-label delivery-confirmation-label-left">{{deliveryConfirmationData.airwaybillNumber}}</p>
                            <p class="delivery-confirmation-label delivery-confirmation-label-right">{{deliveryConfirmationData.collectedPieces}} {{ 'pickuppieces' | translate }}</p>
                        </ion-label>
                    </ion-item>
                </ion-label>
            </ion-col>
            <ion-col col-12 col-lg #pickerinfocontent class="details-col-top-set">
                <ion-label class="collector-info">
                    <ion-row>
                        <ion-col col-6>
                            <ion-item no-lines><span>{{ 'personid' | translate }}*</span></ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item no-lines>
                                <ion-input placeholder="{{ 'personid' | translate }}" [(ngModel)]="driverIDText"></ion-input>
                                <!-- <ion-icon name="checkmark-circle" item-right *ngIf="isDriverValid ==1" class="set-color-icon-valid"></ion-icon> -->
                                <!-- <ion-icon name="checkmark-circle" item-right *ngIf="isDriverValid ==2" class="set-color-icon-invalid"></ion-icon>   -->
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6>
                            <ion-item no-lines><span>{{ 'driverName' | translate }}*</span></ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item no-lines>
                                <!--  <ion-input placeholder="{{ 'driverName' | translate }}" (tap)="validateDriverInfo();"  [(ngModel)]="driverNameText"></ion-input> -->
                                <ion-input placeholder="{{ 'driverName' | translate }}" [(ngModel)]="driverNameText"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6>
                            <ion-item no-lines><span>{{ 'passNo' | translate }}*</span></ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item no-lines>
                                <ion-input placeholder="{{ 'passNo' | translate }}" [(ngModel)]="driverPassText"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row class="last-row-seperator">
                        <ion-col col-6>
                            <ion-item no-lines><span>{{ 'licenseNo' | translate }}*</span></ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item no-lines>
                                <ion-input text-uppercase placeholder="{{ 'licenseNo' | translate }}" [(ngModel)]="driverLicenseText"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-10>
                            <ion-item no-lines><span>{{ 'signature' | translate }}*</span></ion-item>
                        </ion-col>
                        <ion-col col-2>
                            <ion-item no-lines (click)="drawClear()">
                                <img src="assets/images/signature.svg" width="20">
                            </ion-item>
                        </ion-col>
                        <ion-col col-2 style="display: none;">
                            <ion-item no-lines (click)="drawClear()">
                                <ion-icon name="close"></ion-icon>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="signature-col">
                            <signature-pad  class="signature-canvas" [options]="signaturePadOptions" id="signatureCanvas"></signature-pad>
                        </ion-col>
                    </ion-row>
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer class="delivery-confirmation-footer">
    <ion-row>
            <ion-col col-6 class="delivery-confirmation-footer-left">
                    <button style="color:#CC0033" class="footer-button" ion-button text-center (click)="onCancelClicked();">
                            <ion-thumbnail class="delivery-confirmation-icon">
                              <img src="assets/images/cancel.svg">
                            </ion-thumbnail>
                            <span text-uppercase>{{ 'cancel' | translate }}</span> 
                          </button>
            </ion-col>
        <ion-col col-6 class="delivery-confirmation-footer-left">
            <button style="color:#CC0033" class="footer-button" ion-button text-center (click)="onSubmitDeliveryReceipt();">
                    <ion-thumbnail class="delivery-confirmation-icon">
                      <img src="assets/images/submit.svg">
                    </ion-thumbnail>
                    <span text-uppercase>{{ 'commit' | translate }}</span>
                  </button>
        </ion-col>

    </ion-row>
</ion-footer>