champ-page-delivery-confirmation {
  .delivery-confirmation-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .delivery-confirmation-content-list {
    background-color: #fff;
    margin: 5px;
    padding-bottom: 20px;
    border-radius: 4px;
  }

  .delivery-confirmation-label-left {
    float: left;
  }

  .delivery-confirmation-label-right {
    float: right;
  }

  .delivery-confirmation-header {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 15px;
  }

  .collector-info {
    margin: 0;
    background-color: #fff;
    border-radius: 4px;
  }

  .collector-info span {
    color: #545454;
    font-size: 18px;
    font-weight: 400;
  }

  .collector-info input {
    text-align: left;
    color: #777;
    font-size: 16px;
    font-weight: 400;
  }

  .details-col-top-set {
    padding: 0;
    padding-top: 10px;
  }

  .total-count-header p {
    font-size: 18px;
    font-weight: 600;
    color: #545454;
  }

  .items-count-header p {
    font-size: 16px;
    font-weight: 400;
    color: #545454;
  }

  .last-row-seperator {
    border-bottom: 1px solid #ccc;
  }

  .set-color-icon-invalid {
    color: #c03;
    font-size: 22px;
  }

  .set-color-icon-valid {
    color: #0c3;
    font-size: 22px;
  }

  .delivery-confirmation-footer-text-border {
    border: 1px solid #ccc;
  }

  .delivery-confirmation-footer-text {
    font-size: 16px;
    padding-top: 9px;
    font-weight: 600;
    text-align: center;
  }

  .delivery-confirmation-footer-cancel-text {
    color: #c03;
    font-size: 16px;
    padding-top: 9px;
    font-weight: 600;
    text-align: center;
  }

  .delivery-confirmation-footer-icon {
    font-size: 1.5em;
    vertical-align: middle;
  }

  .delivery-confirmation-input {
    margin-left: 11px;
    border-bottom: 0.8px solid #545454;
    margin-right: 15px;
  }

  .delivery-confirmation-footer {
    background: #fff;
  }

  .delivery-confirmation-input {
    padding: 0 !important;
  }

  .delivery-confirmation-footer-left {
    background: #fff;
    text-align: center;
    border: 0.55px solid #c03;
    padding: 0;
  }

  .footer-button {
    text-align: center;
    background: transparent;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    width: 100%;
    padding: 0;
  }

  .delivery-confirmation-icon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  .delivery-confirmation-footer-right {
    background: #fff;
    text-align: center;
    border-top: 0.55px solid #c03;
    border-bottom: 0.55px solid #c03;
    border-right: 0.55px solid #c03;
    padding: 0;
  }

  .delivery-confirmation-cancel-icon {
    width: 24px;
    height: 24px;
    margin-left: 4px;
  }

  .button-md:hover:not(.disable-hover) {
    background-color: transparent;
  }

  .signature-col {
    text-align: center;
    margin-bottom: 44px;
    padding: 0;
  }

  .signature-canvas {
    margin: 10px;
  }

  .signature-canvas canvas {
    border: 1px dashed #e0e0e0;
  }
}
