<ion-navbar class="navbar">
  <button *ngIf="navigationBarViewModel.hamburgerIcon"
          ion-button
          menuToggle>
    <img width='30' src="assets/images/menu.svg"/>
  </button>
  <ion-buttons left *ngIf="navigationBarViewModel.toShowBackButton">
    <button ion-button
            class="custom-back-button"
            (click)= "onBackButtonTap()">
    </button>
  </ion-buttons>
  <ion-title class="navbar-title" 
            [class.left-align-text]="navigationBarViewModel.toShowTitleOnLeft">{{ navigationBarViewModel.title }}</ion-title>
  <ion-buttons end>
      <!--
      <button *ngIf="navigationBarViewModel.toShowNotificationsIcon" 
              ion-button
              icon-only
              (click)="notificationsIconTapped()">
        <img width='26' src="assets/images/notification.svg">
        <ion-badge item-end class="notification-badge">{{ _noOfDataObjectsInSyncTray }}</ion-badge>
      </button>
      -->
      <button *ngIf="navigationBarViewModel.toShowOverFlowIcon"
              class="more-details"
              (click)="overFlowIconTapped($event)">
        <img width='26' src="assets/images/dotmenu.svg">
      </button>
      <!--
      <button *ngIf="navigationBarViewModel.toShowOnlineOfflineIcon"
              class="network-status">
        <div *ngIf="_isOnline">
          <img width='26' src="assets/images/online.svg">
          <ion-label class="network-status-online">Online</ion-label>
        </div>
        <div *ngIf="!_isOnline">
            <img width='26' src="assets/images/offline.svg">
            <ion-label class="network-status-offline">Offline</ion-label>
          </div>
      </button>
      -->
    </ion-buttons>
</ion-navbar>