champ-navigation-bar {
  .notification-badge {
    position: absolute;
    top: -2px;
    right: -10px;
    height: 18px;
    background: #c03;
  }

  .more-details {
    border: 0;
    background: transparent;
  }

  .network-status {
    border: 0;
    position: relative;
    top: 8px;
    background: #f9f9f9;
    padding: 0;
  }

  .network-status-online {
    font-size: xx-small;
    position: relative;
    top: -5px;
    margin: 0 11px;
    color: #008000;
  }

  .network-status-offline {
    font-size: xx-small;
    position: relative;
    top: -5px;
    margin: 0 11px;
    color: #ccc;
  }

  .title .toolbar-title {
    color: #06c;
    font-size: 1.2em;
  }

  .navbar-title .toolbar-title-md {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-title.title-ios {
    margin-left: 0;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .navbar-title.title-md {
    margin-left: 0;
  }

  .navbar-title.title-ios div {
    text-align: center !important;
  }

  .navbar-title.title-md div {
    text-align: center !important;
  }

  .navbar .bar-button-menutoggle-ios {
    padding-right: 15px !important;
  }

  .navbar .back-button {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar .bar-button-default-md {
    color: #c03;
  }

  .navbar .back-button-ios {
    background-image: url('../assets/images/backbutton.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
  }

  .navbar .back-button-ios .back-button-icon-ios {
    display: none;
  }

  .navbar .back-button-ios .back-button-text-ios {
    display: none;
  }

  .custom-back-button {
    background-image: url('../assets/images/backbutton.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
  }

  .left-align-text.title-ios div {
    text-align: left !important;
    margin-left: 5px;
  }

  .left-align-text.title-md div {
    text-align: left !important;
  }
}
