champ-page-irregularity-detail {
  .outer-content-container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }

  .irregularity-text {
    margin: 5px;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    }

  .irregularity-content-list-mobile {
    background-color: #fff;
    margin: 10px;
    border-radius: 6px;
  }

  .irregularity-content-list-tablet {
    background-color: #fff;
    border-radius: 6px;
  }

  .thumbnail-img {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    position: relative;
  }

  .header-text {
    text-align: center;
  }

  .mandatory-star-img {
    width: 10px;
    height: 10px;
    margin-bottom: 5px;
  }

  .irregularity-code-list-card {
    margin: 0 !important;
  }

  .irregularity-list-item-text {
    display: inline-block;
    text-transform: capitalize !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    }

  .irregularity-code-list-item-label {
    font-weight: 700;
    color: #545454;
    }
}
