<ion-header id="searchBarHeader" class="header-text">
        <champ-navigation-bar *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation" #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
        </champ-navigation-bar>
        <ion-label class="irregularity-code-list-card">
            <ion-item *ngIf="isDeviceATablet && isDeviceInLandScapeOrientation">
              <ion-thumbnail class="thumbnail-img" item-start><img src="assets/images/damagereport.svg"></ion-thumbnail>
              <ion-label class="irregularity-content-label">
                <h2 class="irregularity-code-title-txt">{{'irregularitydetailscode' | translate }}<span>
                    <img class="mandatory-star-img" src="assets/images/mandatorystar.svg">
                </span></h2>
                <p *ngIf="irregularitiesDataModel.irregularityDetails.code == null">{{ 'codedescription' | translate }}</p>
                <p *ngIf="irregularitiesDataModel.irregularityDetails.code != null" >
                  {{ irregularitiesDataModel.irregularityDetails.code}} {{irregularitiesDataModel.irregularityDetails.name}}</p>
              </ion-label>
            </ion-item>
        <ion-item>
            <ion-input class="irregulairty-input" [(ngModel)]="irregularityInput" (ionChange)="onSearchIrregularityCode()" placeholder="{{ 'irregularitysearchplaceholder' | translate }}"></ion-input>
            <ion-icon item-right name="search"></ion-icon>
        </ion-item>
    </ion-label>
    </ion-header>

    <ion-content class="outer-content-container" style="background-image:url('assets/images/app-bg.png')">
        <ion-label *ngIf="!isDeviceATablet && !isDeviceInLandScapeOrientation" class="irregularity-text">{{selectIrregularityFor}}</ion-label>
    
        <ion-list radio-group [ngClass]="!isDeviceATablet && !isDeviceInLandScapeOrientation ? 'irregularity-content-list-mobile' : 'irregularity-contnet-list-tablet'" *ngIf="irregularityInput!=null && irregularityInput!='' " 
        [(ngModel)]="uniqueObjectIdOfRadioButtonViewModel">
                <ion-item-divider>
                <ion-row>
                    <ion-col col-2> {{'code' | translate}}</ion-col>
                    <ion-col col-10>{{'description' | translate}}</ion-col>
                </ion-row>
            </ion-item-divider>
            <ion-item  *ngFor="let irregularityItem of irregularityDetailList">
                <ion-label>
                    <ion-col col-2  style="float: left; text-align: center;"> {{irregularityItem.code}}</ion-col>
                    <ion-col col-10 class="irregularity-list-item-text" style="float: left;">{{irregularityItem.name}}</ion-col>
                </ion-label>
                <ion-radio color="primary" 
                value="{{irregularityItem.getUniqueObjectId()}}" 
                (ionSelect)="onSelectIrregularityCode(irregularityItem)"></ion-radio>
            </ion-item>
              </ion-list>
    </ion-content>
    