<ion-item><p>{{ filterCheckboxesPopoverViewModel.title | translate }}</p></ion-item>
<champ-check-boxes-item [checkBoxesViewModel]="filterCheckboxesPopoverViewModel.checkBoxesViewModel"
                        (checkBoxViewModelTapEvent)="tapEvent_On_CheckBoxesViewModel($event)">
</champ-check-boxes-item>  
<ion-item>
  <button class="bottom-btn" (click)="buttonClicked()">{{ filterCheckboxesPopoverViewModel.buttonText | translate }}</button>
</ion-item>
  
