<ion-header id="navigationBarHeader">
  <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
</champ-navigation-bar>
</ion-header>

<ion-content class="create-report-content" style="background-image:url('assets/images/app-bg.png')">
  <p class="title">{{ 'createdamagereporttitle' | translate}}</p>
  <champ-generic-list-item *ngIf="genericListItemViewModels != null"
                           id="genericListItemShowingMenuComponent"
                           [genericListItemViewModels]="genericListItemViewModels"
                           (tapEvent)="tapEvent_On_GenericListItemComponent($event)"
                           (tapEventOnDeleteButtonofHorizontalListingOfMediaThumbNailsURLs)=
                           "tapEventOnDeleteButtonofHorizontalListingOfMediaThumbNailsURLs($event)"
                           class="damage-list">
  </champ-generic-list-item>
  <ion-split-pane *ngIf="isDeviceATablet && isDeviceInLandScapeOrientation"
                  [style.top.px]="genericListItemShowingMenuComponentRectDataModel.top">
    <ion-nav #splitPaneMasterComponentNav
            class="split-pane-master-component-nav"></ion-nav>
    <ion-nav #splitPaneDetailComponentNav main></ion-nav>
  </ion-split-pane>
</ion-content>

<!-- Related to MOB-224, MOB-258 in JIRA
  Q) Why do we have 'toShowFooter' flag ?
  A) The footer is overlapping with the ion-content when keyboard is up. It partially hides
  input fields placed at the end of the content user cannot view what he is typing.
  'toShowFooter' flag is used to hide or show the footer based on whether the keyboard is up or down
-->
<ion-footer [class.show-footer]="toShowFooter"
            [class.hide-footer]="!toShowFooter"
            [class.footer]="toShowEmailAndPrintOptions">
  <ion-row *ngIf="!toShowEmailAndPrintOptions">
    <ion-col class="footer-button-col">
      <button class="footer-button"
              ion-button
              text-center
              [disabled]="!toShowEnabledSaveButton"
              (click)="onSaveClicked()"
              [ngClass]="toShowEnabledSaveButton ? 'enabled-text-color':'disabled-text-color'">
        <ion-thumbnail class="save-image-left">
          <img *ngIf="toShowEnabledSaveButton" src="assets/images/save.svg">
          <img *ngIf="!toShowEnabledSaveButton" src="assets/images/save-disable.svg">
        </ion-thumbnail>
          {{ 'save' | translate }}
      </button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="toShowEmailAndPrintOptions">
      <ion-col col-6 class="footer-button-col-left">
        <button class="footer-button" ion-button text-center (click)="onPrintButtonClicked()">
          <ion-thumbnail class="left-arrow-previous">
            <img src="assets/images/print.svg">
          </ion-thumbnail>
          {{ 'print' | translate }}
        </button>
      </ion-col>
      <ion-col col-6 class="footer-button-col-right">        
        <button class="footer-button" ion-button text-center (click)="onEmailButtonClicked()">
          <ion-thumbnail class="left-arrow-previous">
            <img src="assets/images/mail.svg">
          </ion-thumbnail>
          {{ 'email' | translate }}          
        </button>
      </ion-col>
  </ion-row>
</ion-footer>
