champ-page-create-damage-report {
  .contentheader {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
 }

  .thumbnails {
    width: 80px;
    height: 80px;
 }

  .textareacss {
    border-bottom: 1px;
 }

  .ion-thumb {
    overflow: scroll;
 }

  .ion-thumb > .item-inner {
    padding-right: 8px;
    border-bottom: transparent !important;
 }

  .align-right {
    float: right;
  }

  .item[no-lines].bottom-border {
    border-bottom: 1px solid #d3d3d3;
    }

  .subtitle {
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #666;
    white-space: normal;
    }

  .damage-list .list-md,
  .damage-list .list-ios {
    margin: 0;
  }

  .remarks-item {
    border-radius: 5;
  }

  .remarks-item .item-inner {
    border-bottom: 0 !important;
  }

  .bottom-border {
    border-bottom: 1px solid #d3d3d3;
  }

  .create-report-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .create-report-content .scroll-content {
    padding: 10px;
  }

  .title {
    color: #fff;
    font-size: 1em;
    font-weight: 800;
  }

  .left-image-item {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
 }

  .save-image-left {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  .footer-button-col {
    background: #fff;
    text-align: center;
    border: 0.55px solid #c03;
    padding: 0;
  }

  .footer-button {
    text-align: center;
    background: transparent;
    color: #c03;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    width: 100%;
    padding: 0;
    text-transform: uppercase;
  }

  .footer-button.activated {
    color: #c03;
    background: transparent;
  }

  .footer-button-col-left {
    background: #fff;
    text-align: center;
    border: 0.55px solid #c03;
    padding: 0;
  }

  .footer-button-col-right {
    background: #fff;
    text-align: center;
    border-top: 0.55px solid #c03;
    border-bottom: 0.55px solid #c03;
    border-right: 0.55px solid #c03;
    padding: 0;
  }

  .left-arrow-previous {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  .right-arrow-next {
    width: 24px;
    height: 24px;
    margin-left: 4px;
  }

  .enabled-text-color {
    color: #c03;
  }

  .disabled-text-color {
    color: #d3d3d3;
  }

  .split-pane-master-component-nav .nav-decor {
    background: transparent !important;
  }

  .show-footer {
    display: block;
  }

  .hide-footer {
    display: none;
  }
  
  .set-opacity-for-non-selected {
    opacity: 0.5;
  }

  .set-opacity-for-selected {
    opacity: 1;
  }
}
