champ-page-select-origin {
  .outer-content-container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }

  .search-button {
    font-size: 25px;
    background: transparent;
 }

  .label-md {
    margin: 0;
}

  .searchbar-md {
    padding: 0;
}

  .found-cargo-label {
    font-size: 1.2em !important;
    color: #fff !important;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  .item-md ion-thumbnail img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 10px;
}

  .item-md ion-thumbnail {
    min-width: 30px;
    min-height: 40px;
}

  .item-md {
    padding-left: 0;
}

  .popularsearch-header {
    font-size: 1.4em;
    color: #808080;
    padding: 5px 5px 5px 10px;
}

  .header-text {
    text-align: center;
    }

  .found-cargo-input input {
    text-transform: uppercase;
        }

  .found-cargo-label-origin-code {
    font-weight: 700;
    color: #545454;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    font-size: 1.5rem !important;
    text-overflow: ellipsis;
    text-transform: capitalize !important;
    padding-right: 10px;
  }

}
