<ion-header id="searchBarHeader" class="header-text">
    <champ-navigation-bar #navigationBarComponent [navigationBarViewModel]="navigationBarViewModel">
    </champ-navigation-bar>
    <ion-item>
        <ion-input class="found-cargo-input" [(ngModel)]="originInput" (ionChange)="onSearchOrigin()" placeholder="{{ 'airportsearchtext' | translate }}"></ion-input>
        <ion-icon item-right name="search"></ion-icon>
    </ion-item>
</ion-header>

<ion-content class="outer-content-container" style="background-image:url('assets/images/app-bg.png')">
    <ion-label class="found-cargo-label">{{selectOriginFor}}</ion-label>

    <ion-list style="margin: 10px;" radio-group [(ngModel)]="uniqueObjectIdOfRadioButtonViewModel" *ngIf="originInput!=null && originInput!='' ">
        <ion-item-divider class="popularsearch-header">{{ 'airportlist' | translate }}</ion-item-divider>
            <ion-item style="padding: 5px;" *ngFor="let origin of originList">
              <ion-thumbnail item-start><img src="assets/images/flight.svg"></ion-thumbnail>
              <ion-label stacked>
              <h2 class="found-cargo-label-origin-code">{{origin.code}}-{{origin.name}}-{{origin.country.name}}</h2>
              <p>{{origin.name}} - {{origin.type}}</p>
            </ion-label>
              <ion-radio color="primary"  
              value="{{origin.getUniqueObjectId()}}" 
              (ionSelect)="selectedOrigin(origin)"></ion-radio>
            </ion-item>
          </ion-list>
</ion-content>