champ-damage-report-list-item {
  .remove-border-bottom > .item-inner {
    border-bottom: transparent !important;
  }

  .time-label {
    font-weight: 800;
    font-size: 1.1em;
    color: #545454;
    text-transform: uppercase;
  }

  .pieces-label {
    color: #545454;
    margin-bottom: 5px !important;
  }

  .set-padding-zero {
    padding: 0;
  }

  .item-md[detail-push] .item-inner,
  .item-ios[detail-push] .item-inner,
  .item-wp[detail-push] .item-inner {
    background-image: url('../assets/images/nextarrow.svg');
    background-size: 20px 20px;
  }
}
