<ion-item class="remove-border-bottom" detail-none>
  <button ion-item (click)="onTap()" detail-push>
    <ion-grid class="set-padding-zero">
      <ion-row>
        <ion-col class="set-padding-zero" col-sm-12 col-md-12 col-lg-4>
            <p class="time-label">{{ dateToBeShown() }} {{ timeToBeShown() }} ({{ 'utc' | translate }}) {{ damageReportsDataModel.reportingLocation.code }}</p>      
        </ion-col>
        <ion-col class="set-padding-zero" col-sm-12 col-md-12 col-lg-5 style="padding-top:2px">
            <p style="color:#aaa">{{ 'reportedby' | translate }} {{ damageReportsDataModel.createdBy.fullName }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="set-padding-zero" col-12>
            <p class="pieces-label"> {{ piecesToBeShown() }} &nbsp; &nbsp;{{ weightToBeShown() }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>        
  </button>
</ion-item>