.appmessage {
  color: #000;
  float: right;
  padding-top: 4px;
}

.appimg {
  float: left;
}

.item[no-lines].bottom-border {
  border-bottom: 1px solid #d3d3d3;
}

.navbar-title .toolbar-title-md {
  padding-left: 0;
}

.navbar .title-ios {
  padding-left: 40px !important;
}

.navbar .title-ios div {
  text-align: left !important;
}

.navbar .bar-button-menutoggle-ios {
  padding-right: 15px !important;
}

.navbar .back-button {
  margin-left: 0;
  margin-right: 0;
}

.navbar .bar-button-default-md {
  color: #c03;
}

.navbar .back-button-ios {
  background-image: url('../assets/images/backbutton.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
}

.navbar .back-button-ios .back-button-icon-ios {
  display: none;
}

.navbar .back-button-ios .back-button-text-ios {
  display: none;
}

.custom-back-button {
  background-image: url('../assets/images/backbutton.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
}
