<ion-menu [content]="content">
  <ion-header>
    <!-- <ion-toolbar>
      <ion-title>{{ treeBranchTitle }}</ion-title>
    </ion-toolbar> -->
    <ion-navbar class="navbar">
      <ion-buttons left *ngIf="toShowBackButton">
        <button ion-button
                class="custom-back-button"
                (click)= "onBackButtonTap()">
        </button>
      </ion-buttons>
      <ion-title class="navbar-title">{{ treeBranchTitle }}</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
      <ion-list *ngIf="genericListItemViewModelsToShow != null">
        <ion-item *ngFor="let genericListItemViewModel of genericListItemViewModelsToShow"
                  no-lines
                  class="bottom-border"
                  (click)="tapEvent_On_GenericListItemComponent(genericListItemViewModel)"
                  [attr.detail-push]="genericListItemViewModel.shouldShowRightArrow ? true : null"
                  [menuClose]="genericListItemViewModel.shouldTakeActionForHamBurgerMenuClose ? null : true">
                  {{ genericListItemViewModel.mainText }}
        </ion-item>
      </ion-list>
  </ion-content>
</ion-menu>
  
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>